.menu-nao-component {
  background-color: #E6F1FE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menu-nao-component .div-3 {
  background-color: #E6F1FE;
  height: 73.14px;
  overflow: hidden;
  position: relative;
  width: 1536px;
}

.menu-nao-component .turian {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 186.4px;
  height: 373px;
  left: -230px;
  position: absolute;
  top: 402px;
  width: 373px;
}

.menu-nao-component .ellipse-4 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 116px;
  height: 232px;
  left: 77px;
  position: relative;
  top: 56px;
  width: 232px;
}

.menu-nao-component .turian-2 {
  height: 34px;
  left: 160px;
  object-fit: cover;
  position: fixed;
  top: 22px;
  width: 132px;
}

.menu-nao-component .design-component-instance-node {
  gap: 3.2px !important;
}

.menu-nao-component .turian-3 {
  font-size: 12.8px !important;
}

.menu-nao-component .turian-4 {
  height: 19.2px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 19.2px !important;
}

.menu-nao-component .turian-5 {
  gap: 25.4px !important;
  left: 441px !important;
  position: fixed !important;
  top: 26px !important;
}
