.contato-pt {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contato-pt .div {
  background-color: #ffffff;
  height: 3058px;
  position: relative;
  width: 1200px;
}

.contato-pt .overlap {
  height: 797px;
  left: 64px;
  position: absolute;
  top: 0;
  width: 1136px;
}

.contato-pt .servio-de-traduo {
  height: 54px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 194px;
}

.contato-pt .overlap-group {
  height: 797px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1136px;
}

.contato-pt .chamadadeentrada {
  height: 311px;
  left: 0;
  position: absolute;
  top: 187px;
  width: 689px;
}

.contato-pt .textoebotao {
  height: 311px;
  width: 693px;
}

.contato-pt .overlap-group-2 {
  height: 311px;
  position: relative;
  width: 689px;
}

.contato-pt .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 59.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.39px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 599px;
}

.contato-pt .element-idiomas-que {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  height: 130px;
  left: 0;
  letter-spacing: 0.65px;
  line-height: 43.1px;
  position: absolute;
  top: 181px;
  width: 689px;
}

.contato-pt .rectangle {
  background-color: #c8982a;
  height: 797px;
  left: 621px;
  position: absolute;
  top: 0;
  width: 515px;
}

.contato-pt .nome {
  background-color: #d9d9d9;
  border-radius: 13px;
  height: 46px;
  left: 689px;
  position: absolute;
  top: 187px;
  width: 358px;
  border: none;
  outline: none;
}

.contato-pt .cargo {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 46px;
  left: 689px;
  position: absolute;
  top: 254px;
  width: 358px;
  border: none;
  outline: none;
}

.contato-pt .e-mail {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 46px;
  left: 689px;
  position: absolute;
  top: 321px;
  width: 358px;
  border: none;
  outline: none;
}

.contato-pt .mensagem {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 73px;
  left: 689px;
  position: absolute;
  top: 388px;
  width: 358px;
  border: none;
  outline: none;
}

.contato-pt .button-portugues-instance {
  left: 689px !important;
  position: absolute !important;
  top: 498px !important;
  width: 358px !important;
}

.contato-pt .design-component-instance-node {
  left: 36px !important;
  width: 286px !important;
}

.contato-pt .group {
  height: 527px;
  left: 78px;
  position: absolute;
  top: 911px;
  width: 1059px;
}

.contato-pt .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 59.8px;
  font-weight: 400;
  left: 346px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.contato-pt .como-relatado-pela {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 115px;
  width: 1031px;
}

.contato-pt .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 100px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 242px;
}

.contato-pt .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 100px;
  font-weight: 400;
  left: 437px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 401px;
  width: 185px;
}

.contato-pt .j {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 788px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 242px;
}

.contato-pt .span {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

.contato-pt .text-wrapper-5 {
  font-size: 100px;
}

.contato-pt .dos-consumidores {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 455px;
  width: 353px;
}

.contato-pt .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 437px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 320px;
  width: 219px;
}

.contato-pt .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 773px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 455px;
  width: 270px;
}

.contato-pt .nossas-parcerias {
  height: 286px;
  left: 101px;
  position: absolute;
  top: 1595px;
  width: 999px;
}

.contato-pt .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 706px;
}

.contato-pt .empresa-de-traduo {
  height: 186px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 997px;
}

.contato-pt .group-wrapper {
  height: 455px;
  left: 114px;
  position: absolute;
  top: 2145px;
  width: 959px;
}

.contato-pt .group-2 {
  height: 455px;
  position: relative;
  width: 977px;
}

.contato-pt .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.64px;
  line-height: 26.4px;
  position: absolute;
  text-align: center;
  top: 221px;
  width: 285px;
}

.contato-pt .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 338px;
  letter-spacing: 0.64px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 220px;
  width: 285px;
}

.contato-pt .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 674px;
  letter-spacing: 0.64px;
  line-height: 21.4px;
  position: absolute;
  text-align: center;
  top: 220px;
  width: 285px;
}

.contato-pt .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 88px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 151px;
  white-space: nowrap;
}

.contato-pt .overlap-group-3 {
  height: 68px;
  left: 372px;
  position: absolute;
  top: 113px;
  width: 218px;
}

.contato-pt .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
}

.contato-pt .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 30;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 0;
}

.contato-pt .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 805px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 151px;
  white-space: nowrap;
}

.contato-pt .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 113px;
  white-space: nowrap;
}

.contato-pt .marcelo-soares {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 766px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 113px;
  white-space: nowrap;
}

.contato-pt .ellipse {
  height: 84px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 84px;
}

.contato-pt .img {
  height: 84px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.contato-pt .ellipse-2 {
  height: 84px;
  left: 803px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 84px;
}

.contato-pt .star {
  height: 19px;
  left: 75px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-2 {
  height: 19px;
  left: 408px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-3 {
  height: 19px;
  left: 746px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-4 {
  height: 19px;
  left: 105px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-5 {
  height: 19px;
  left: 438px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-6 {
  height: 19px;
  left: 776px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-7 {
  height: 19px;
  left: 135px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-8 {
  height: 19px;
  left: 468px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-9 {
  height: 19px;
  left: 806px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-10 {
  height: 19px;
  left: 165px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-11 {
  height: 19px;
  left: 498px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-12 {
  height: 19px;
  left: 836px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-13 {
  height: 19px;
  left: 195px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-14 {
  height: 19px;
  left: 528px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .star-15 {
  height: 19px;
  left: 866px;
  position: absolute;
  top: 433px;
  width: 23px;
}

.contato-pt .group-3 {
  height: 276px;
  left: 205px;
  position: absolute;
  top: 2706px;
  width: 816px;
}

.contato-pt .group-4 {
  height: 151px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 820px;
}

.contato-pt .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 816px;
}

.contato-pt .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 111px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 121px;
  width: 594px;
}

.contato-pt .magma-translation {
  height: 54px;
  left: 311px;
  position: absolute;
  top: 0;
  width: 194px;
}

.contato-pt .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 343px;
  letter-spacing: 1.51px;
  line-height: 62.2px;
  position: absolute;
  text-align: center;
  top: 1986px;
  white-space: nowrap;
}


.contato-pt .file {
  background-color: #022474;
  border-radius: 13px;
  height: 26px;
  left: 720px;
  position: absolute;
  top: 490px;
  width: 280px;
  border: none;
  color: white; /* Adding text color */
  font-size: 18px; /* Adding font size */
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center; /* Add this line for vertical alignment */
  
}


.contato-pt .escondendo-file {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 0;

  border-radius: 13px;
  height: 26px;
  left: 720px;
  position: absolute;
  top: 490px;
  width: 280px;
  border: none;
  color: white; /* Adding text color */
  font-size: 20px; /* Adding font size */



}


.contato-pt .botaoenviar {
  background-color: #022474;
  border-radius: 13px;
  height: 55px;
  left: 689px;
  position: absolute;
  top: 550px;
  width: 358px;
  border: none;
  color: white; /* Adding text color */
  font-size: 20px; /* Adding font size */
  
}

/* Hover state */
.contato-pt .botaoenviar:hover {
  background-color: #0536a8; /* Change to green on hover */
}