.containerdois {
  background-color: #ffffff;
  width: 100%;
}

.videoplayer {

top: -120px;
position: absolute;

}


.juntandodois  {
height: 1000px;
width: 1518px;
position: relative;
}

.menudois {
  width: 1536px;
  height: 300px;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.paratextboxdois   {

  width: 1516px;
  height: 4800px;
  position: relative;
}


.tecladochild {


  width: 1518px;
  height: 1000px;
  position: relative;




}







.cabeaherocaysa{

  width: 1520px;
  height: 5000px;
  position: relative;

}

.sticky {
  position: sticky;
  top: -1px;
}


.primeiraHero {
  width: 1518px;
  height: 700px;
  position: fixed;
}


.segundaHeronew {
  width: 1518px;
  height: 700px;
  position: fixed;
  z-index: 2 ;
}

.TerceiraHeronew {
  width: 1518px;
  height: 700px;
  position: fixed;
  z-index: 1 ;
}









.baixando {
background-color: aquamarine;
width: 1518px;
height: 2500px;
position: relative;
top: 0px;

}


.componenteinferior {

position: relative;
z-index: 7;
width: 1518px;



}



.terceiraparte {

  background-color: rgb(213, 204, 199);
    width: 1500px;
    height: 900px;
    position: relative;
    }









    .textoboxsss {


      background-color: rgb(250, 250, 250);
      width: 200px;
      height: 200px;
      position: fixed;
      left:  400px;
      top: 300px;
      z-index: 3 ;
    
    }



.textoboxOne {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:0 ;

      left:  320px;
      top: 300px;
    }


    .textoboxTres {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:0 ;

      left:  320px;
      top: 300px;
    }
    
.textobox1 {
      color: #000000;
    }
  .textobox2 {
      color: #c8982a;
    }


.FaleComEspecialista  {


  position: fixed;
  width: 309px;
  z-index:0 ;

  left:  320px;
  top: 300px;



}




    .textoH1parateclado {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:20 ;

      left:  300px;
      top: 300px;
    }


    .textoparateclado {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 609px;
      z-index:20 ;


      left:  600px;
      top: 400px;
    }

    .tecladolargo {


      position: fixed;
      left:  600px;
      top: 400px;

    }



    .frasesdeentrada {

position: absolute;
top: 200px;
left: 160px;




    }


   .imagemsegunda {

      height: 701px;

      width: 1318px;
      left: 100px;


    }


    .componentspeedois {

      position: relative;

      left: 790px;
      top: 120px;
   
    }






    




