.containerdois {
  background-color: #ffffff;
  width: 100%;
}


.juntandodois  {

height: 8000px;
width: 1500px;
position: relative;

}


.cabeaherocaysa{

  width: 1516px;
  height: 1000px;
  position: relative;
}

.sticky {

  width: 1510px;
  height: 1000px;
  position: sticky;
  top: 10px;


}


.baixando {

width: 1510px;
height: 2500px;
position: relative;

}


.herosectiondois {
  background-color: rgb(35, 35, 190);
width: 1510px;
height: 100px;
position: sticky;
top: 1px;
}

.box{
  background-color: rgb(0, 0, 0);
width: 200px;
height: 200px;
position: sticky;
top: 10px;

}





  
.terceiraparte {

  background-color: rgb(213, 204, 199);
    width: 1500px;
    height: 900px;
    position: relative;
    }


