.containerdois {
  background-color: #ffffff;
  width: 100%;
}


.juntandodois  {

height: 8000px;
width: 1500px;
position: relative;
z-index: 2 !important;

}


.cabeaherocaysa{

  width: 1516px;
  height: 10000px;
  position: relative;
  z-index: 2 !important;
}

.sticky {

  width: 1510px;
  height: 1000px;
  position: sticky;
  top: -1px;
  transition: top 10000.3s ; /* Add a transition for the 'top' property */
  z-index: 2 !important;

}



.textobox {


  background-color: black;
  width: 200px;
  height: 200px;
  position: fixed;
  left:  400px;
  top: 300px;
  z-index: 0  !important;



}


.paratextbox   {

  width: 1516px;
  height: 10000px;
  position: relative;
}



.baixando {
background-color: aquamarine;
width: 1510px;
height: 2500px;
position: relative;
top: 0px;

}


.componenteinferior {

position: relative;

z-index: 2 !important;

}



.terceiraparte {

  background-color: rgb(213, 204, 199);
    width: 1500px;
    height: 900px;
    position: relative;
    }


