.novosmovimentos {
  background-color: #ffffff;

  
  width: 100%;
}


.presaum  {

height: 5000px;
width: 1500px;
position: relative;



}


.parteum {
  background-color: rgb(25, 25, 28);
width: 1500px;
height: 900px;
position: sticky;

top: 10px;
}

.box{
  background-color: rgb(0, 0, 0);
width: 200px;
height: 200px;
position: sticky;
top: 10px;

}



.partedois {
background-color: aquamarine;
  width: 1500px;
  height: 900px;
  position: relative;
  }



  
.partetres {

  background-color: rgb(74, 68, 65);
    width: 1500px;
    height: 900px;
    position: relative;
    }


