.fale-com-um {
  align-items: center;
  border-radius: 78.75px;
  display: inline-flex;
  justify-content: center;
  left: 20px;
  overflow: hidden;
  padding: 12.6px 25.2px;
  position: relative;
}

.fale-com-um .text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.fale-com-um.property-1-default {
  background-color: #c59318;
  top: 20px;
}

.fale-com-um.property-1-variant-2 {
  background-color: #8281ff;
  top: 84px;
}

.fale-com-um.property-1-default .text-wrapper-2 {
  color: #fff6f6;
}

.fale-com-um.property-1-variant-2 .text-wrapper-2 {
  color: var(--base-white);
}
