.menu-component {
  background-color: #e6f1fe;
  height: 73px;
  left: -30130px;
  overflow: hidden;
  position: relative;
  top: -8361px;
  width: 1536px;
}

.menu-component .ellipse-wrapper {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 186.4px;
  height: 373px;
  left: -230px;
  position: absolute;
  top: 402px;
  width: 373px;
}

.menu-component .ellipse {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 116px;
  height: 232px;
  left: 77px;
  position: relative;
  top: 56px;
  width: 232px;
}

.menu-component .img {
  height: 34px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 132px;
}

.menu-component .menu-instance {
  font-size: 12.8px !important;
}
