.case-shopee {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.case-shopee .div-2 {
  background-color: #ffffff;
  height: 2965px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.case-shopee .overlap-3 {
  height: 1966px;
  left: -226px;
  position: absolute;
  top: 0;
  width: 1744px;
}

.case-shopee .rectangle-11 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 239px;
  left: 232px;
  position: absolute;
  top: 1614px;
  width: 1512px;
}

.case-shopee .rectangle-12 {
  background-color: #e6f1fe;
  height: 914px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 1515px;
}

.case-shopee .group-11 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 384.3px;
  height: 769px;
  left: 63px;
  position: absolute;
  top: 1100px;
  width: 769px;
}

.case-shopee .ellipse-10 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 239.16px;
  height: 478px;
  left: 159px;
  position: relative;
  top: 116px;
  width: 478px;
}

.case-shopee .group-12 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.49px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 367px;
}

.case-shopee .ellipse-11 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.19px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.case-shopee .group-13 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 909px;
  position: absolute;
  top: 213px;
  width: 634px;
}

.case-shopee .ellipse-12 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 197.26px;
  height: 395px;
  left: 131px;
  position: relative;
  top: 96px;
  width: 395px;
}

.case-shopee .frame-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50.4px;
  left: 384px;
  position: absolute;
  top: 265px;
  width: 709px;
}

.case-shopee .frame-42 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.9px;
  justify-content: center;
  position: relative;
  width: 708.75px;
}

.case-shopee .case-shopee-e-o {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 40.3px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 48px;
  margin-right: -0.25px;
  margin-top: -0.79px;
  position: relative;
  width: 709px;
}

.case-shopee .span {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40.3px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 48px;
}

.case-shopee .text-wrapper-37 {
  font-size: 25px;
}

.case-shopee .text-wrapper-38 {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33px;
  position: relative;
  width: 622px;
}

.case-shopee .dois-botes {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.case-shopee .fale-com-um-especialista-instance {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.case-shopee .contato-rapido-instance {
  left: unset !important;
  top: unset !important;
}

.case-shopee .imagens {
  height: 422px;
  left: 1121px;
  position: absolute;
  top: 341px;
  width: 416px;
}

.case-shopee .overlap-group-6 {
  height: 457px;
  left: 0;
  position: absolute;
  top: -90px;
  width: 457px;
}

.case-shopee .div-absolute {
  background-color: #faf4e3;
  border-radius: 78.75px;
  height: 389px;
  left: 0;
  position: absolute;
  top: 0;
  width: 331px;
}

.case-shopee .frame-43 {
  border-radius: 78.75px;
  height: 309px;
  left: 147px;
  position: absolute;
  top: 147px;
  width: 309px;
}

.case-shopee .servio-de-traduo-de-wrapper {
  background-color: #c59318;
  border-radius: 78.75px;
  height: 310px;
  overflow: hidden;
  position: relative;
  width: 310px;
}

.case-shopee .servio-de-traduo-de {
  height: 190px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 310px;
}

.case-shopee .empresa-de-traduo-7 {
  background-image: url(../../../static/img/mask-group-6.png);
  background-size: 100% 100%;
  height: 62px;
  left: 253px;
  position: absolute;
  top: 45px;
  width: 62px;
}

.case-shopee .empresa-de-traduo-8 {
  background-image: url(../../../static/img/mask-group-10.png);
  background-size: 100% 100%;
  height: 31px;
  left: 75px;
  position: absolute;
  top: 301px;
  width: 31px;
}

.case-shopee .empresa-de-traduo-9 {
  background-image: url(../../../static/img/mask-group-7.png);
  background-size: 100% 100%;
  height: 40px;
  left: 376px;
  opacity: 0.15;
  position: absolute;
  top: 1184px;
  width: 40px;
}

.case-shopee .empresa-de-traduo-10 {
  background-image: url(../../../static/img/mask-group-8.png);
  background-size: 100% 100%;
  height: 40px;
  left: -233px;
  opacity: 0.15;
  position: absolute;
  top: 1130px;
  width: 40px;
}

.case-shopee .empresa-de-traduo-11 {
  background-image: url(../../../static/img/mask-group-4.png);
  background-size: 100% 100%;
  height: 39px;
  left: -561px;
  opacity: 0.15;
  position: absolute;
  top: 1317px;
  width: 39px;
}

.case-shopee .idiomas {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 227px;
  left: 1160px;
  overflow: hidden;
  padding: 59px 13px;
  position: absolute;
  top: 303px;
  width: 189px;
}

.case-shopee .text-wrapper-39 {
  color: #000000;
  font-family: "Irish Grover", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33px;
  margin-right: -30px;
  margin-top: -1px;
  position: relative;
  width: 193px;
}

.case-shopee .text-wrapper-40 {
  color: #000000;
  font-family: "Irish Grover", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33px;
  margin-right: -30px;
  position: relative;
  width: 193px;
}

.case-shopee .adesivo-redondo {
  border-radius: 322px;
  height: 35px;
  margin-bottom: -31px;
  position: relative;
  width: 35px;
}

.case-shopee .empresa-de-traduo-12 {
  background-image: url(../../../static/img/mask-group-11.png);
  background-size: 100% 100%;
  height: 40px;
  left: 321px;
  opacity: 0.15;
  position: absolute;
  top: 1743px;
  width: 40px;
}

.case-shopee .empresa-de-traduo-13 {
  background-image: url(../../../static/img/mask-group-12.png);
  background-size: 100% 100%;
  height: 46px;
  left: 1121px;
  position: absolute;
  top: 228px;
  width: 46px;
}

.case-shopee .frame-44 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 28.95px;
  display: inline-flex;
  flex-direction: column;
  gap: 18.33px;
  height: 341px;
  justify-content: center;
  left: 735px;
  padding: 38.6px 70.44px 38.6px 38.6px;
  position: absolute;
  top: 1625px;
}

.case-shopee .frame-45 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 19.3px;
  margin-top: -0.25px;
  position: relative;
}

.case-shopee .ellipse-13 {
  height: 82.02px;
  object-fit: cover;
  position: relative;
  width: 82.02px;
}

.case-shopee .frame-46 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.33px;
  position: relative;
}

.case-shopee .frame-47 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.65px;
  position: relative;
}

.case-shopee .text-wrapper-41 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.96px;
  position: relative;
  width: 189.12px;
}

.case-shopee .text-wrapper-42 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 19.3px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.case-shopee .text-wrapper-43 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 15.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30.9px;
  position: relative;
  width: 385.96px;
}

.case-shopee .frame-48 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9.65px;
  justify-content: center;
  margin-bottom: -0.25px;
  position: relative;
}

.case-shopee .star-2 {
  height: 16.77px;
  position: relative;
  width: 17.53px;
}

.case-shopee .feature-section {
  height: 800px;
  left: 262px;
  position: absolute;
  top: 750px;
  width: 1440px;
}

.case-shopee .design-component-instance-node {
  left: 634px !important;
  position: absolute !important;
  top: 2536px !important;
}

.case-shopee .partners-2 {
  background-color: #fafafa;
  height: 435px;
  left: 189px;
  position: absolute;
  top: 2007px;
  width: 1134px;
}

.case-shopee .outras-empresas-que-wrapper {
  height: 34px;
  left: 316px;
  position: absolute;
  top: 61px;
  width: 503px;
}

.case-shopee .outras-empresas-que {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.79px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.case-shopee .group-14 {
  height: 164px;
  left: 119px;
  position: absolute;
  top: 168px;
  width: 896px;
}

.case-shopee .group-15 {
  height: 81px;
  left: 269px;
  position: absolute;
  top: 2806px;
  width: 977px;
}

.case-shopee .overlap-4 {
  height: 81px;
  position: relative;
  width: 973px;
}

.case-shopee .text-wrapper-44 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.case-shopee .text-wrapper-45 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 335px;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.case-shopee .logo-preto-branco-3 {
  height: 48px;
  left: 663px;
  object-fit: cover;
  position: absolute;
  top: 2747px;
  width: 186px;
}

.case-shopee .rectangle-13 {
  background-color: #e6f1fe;
  height: 128px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1512px;
}

.case-shopee .logo-preto-branco-4 {
  height: 34px;
  left: 158px;
  object-fit: cover;
  position: fixed;
  top: 67px;
  width: 130px;
}

.case-shopee .menu-2 {
  left: 455px !important;
  position: fixed !important;
  top: 75px !important;
}
