.turian {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.turian .div-2 {
  background-color: #ffffff;
  height: 8413.65px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.turian .overlap {
  height: 3231px;
  left: 0;
  position: absolute;
  top: 5183px;
  width: 1512px;
}

.turian .rectangle {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 844px;
  left: 0;
  position: absolute;
  top: 2387px;
  width: 1512px;
}

.turian .testimonial {
  height: 524px;
  left: 190px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1133px;
}

.turian .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 7.09px;
  left: 95px;
  position: absolute;
  top: 74px;
}

.turian .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 300;
  letter-spacing: -0.79px;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  width: 707.96px;
}

.turian .text-wrapper-2 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 14.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.3px;
  position: relative;
  width: 707.96px;
}

.turian .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 15.75px;
  left: 95px;
  position: absolute;
  top: 224px;
}

.turian .frame-3 {
  align-items: flex-start;
  background-color: #5857ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  padding: 31.5px 57.49px 31.5px 31.5px;
  position: relative;
}

.turian .frame-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15.75px;
  position: relative;
  width: 247.27px;
}

.turian .ellipse {
  height: 64.57px;
  object-fit: cover;
  position: relative;
  width: 64.57px;
}

.turian .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 14.96px;
  position: relative;
}

.turian .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7.87px;
  margin-right: -85.05px;
  position: relative;
  width: 252px;
}

.turian .bruno-vidal {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
}

.turian .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.turian .text-wrapper-4 {
  color: #ffffffcc;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  width: 315px;
}

.turian .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.87px;
  justify-content: center;
  position: relative;
}

.turian .star {
  height: 13.69px;
  position: relative;
  width: 14.31px;
}

.turian .frame-7 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  height: 277.99px;
  justify-content: center;
  padding: 31.5px 57.49px 31.5px 31.5px;
  position: relative;
}

.turian .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15.75px;
  position: relative;
}

.turian .img {
  height: 66.94px;
  object-fit: cover;
  position: relative;
  width: 66.94px;
}

.turian .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  position: relative;
}

.turian .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.87px;
  position: relative;
}

.turian .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  width: 154.35px;
}

.turian .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.turian .text-wrapper-7 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  width: 315px;
}

.turian .frame-11 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  padding: 31.5px 57.49px 31.5px 31.5px;
  position: relative;
}

.turian .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .overlap-group {
  background-color: #5857ff;
  border-radius: 33.47px;
  height: 67px;
  left: 974px;
  position: absolute;
  top: 83px;
  width: 67px;
}

.turian .bi-arrow-left-short {
  height: 39px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 39px;
}

.turian .bi-arrow-left-short-wrapper {
  background-color: #f8f9ff;
  border-radius: 33.47px;
  height: 67px;
  left: 891px;
  position: absolute;
  top: 83px;
  width: 67px;
}

.turian .group {
  height: 1384px;
  left: 0;
  position: absolute;
  top: 500px;
  width: 1512px;
}

.turian .rectangle-2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 239px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.turian .section {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  gap: 11.02px;
  height: 946px;
  left: 0;
  padding: 127.57px 54.81px 55.12px 54.81px;
  position: absolute;
  top: 239px;
  width: 1512px;
}

.turian .div-inner-width {
  height: 671.74px;
  max-width: 1086.75px;
  position: relative;
  width: 1086.75px;
}

.turian .heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 436.6px 0px 436.74px;
  position: absolute;
  top: 0;
  width: 1040px;
}

.turian .text-wrapper-9 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 27.5px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 38.9px;
  margin-left: -105.92px;
  margin-right: -105.92px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 348.4px 0px 348.54px;
  position: absolute;
  top: 50px;
  width: 1040px;
}

.turian .text-wrapper-10 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.3px;
  margin-left: -348.72px;
  margin-right: -348.72px;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.turian .div-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: space-between;
  left: 9px;
  padding: 0px 0.01px 0px 0px;
  position: absolute;
  top: 163px;
  width: 1068px;
}

.turian .div-item-serv-power {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 39.38px;
  position: relative;
  width: 355.94px;
}

.turian .div-item-hp-perfect-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 17.32px;
  position: relative;
  width: 100%;
}

.turian .div-item-hp-perfect {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12.13px;
  padding: 38.9px 33.07px 39.38px;
  position: relative;
  width: 100%;
}

.turian .documento {
  height: 28.35px;
  position: relative;
  width: 26.77px;
}

.turian .heading-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 4.72px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 52.75px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-12 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -53.18px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .image {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47px;
  justify-content: center;
  left: 0;
  max-width: 54.34px;
  overflow: hidden;
  padding: 5.91px 0px;
  position: absolute;
  top: -28px;
  width: 54px;
}

.turian .image-2 {
  height: 35.44px;
  position: relative;
  width: 54.34px;
}

.turian .img-2 {
  height: 28.35px;
  position: relative;
  width: 28.35px;
}

.turian .marketing-material-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 28.34px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 14.17px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-14 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -14.6px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .alt-do-site {
  height: 27.56px;
  position: relative;
  width: 28.35px;
}

.turian .heading-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 16.53px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .div-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 44.88px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-15 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -45.31px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .image-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47px;
  justify-content: center;
  left: 0;
  max-width: 54.34px;
  overflow: hidden;
  padding: 5.51px 0px;
  position: absolute;
  top: -28px;
  width: 54px;
}

.turian .image-3 {
  height: 36.22px;
  position: relative;
  width: 54.34px;
}

.turian .filme {
  height: 29.14px;
  position: relative;
  width: 28.35px;
}

.turian .diploma {
  height: 28.35px;
  position: relative;
  width: 26.78px;
}

.turian .text-wrapper-16 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-right: -14.39px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-center {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 456.75px;
  position: relative;
  width: 1039.5px;
}

.turian .link {
  align-items: flex-start;
  background-color: #5857ff;
  border: 0.79px solid;
  border-radius: 47.25px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-left: -28.8px;
  margin-right: -28.8px;
  min-width: 126px;
  padding: 0.94px 14.8px 0px;
  position: relative;
}

.turian .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40.2px;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .rectangle-3 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 200px;
  left: 0;
  position: absolute;
  top: 1184px;
  width: 1512px;
}

.turian .group-2 {
  height: 442px;
  left: 269px;
  position: absolute;
  top: 2733px;
  width: 1087px;
}

.turian .overlap-2 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 361px;
  width: 973px;
}

.turian .text-wrapper-18 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-19 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 335px;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.turian .group-3 {
  height: 195px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 170px;
}

.turian .text-wrapper-20 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 700;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-21 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
  width: 113px;
}

.turian .overlap-group-2 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 69px;
  width: 114px;
}

.turian .text-wrapper-22 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-23 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 113px;
}

.turian .overlap-3 {
  height: 69px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 158px;
}

.turian .text-wrapper-24 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.turian .group-4 {
  height: 308px;
  left: 571px;
  position: absolute;
  top: 0;
  width: 133px;
}

.turian .overlap-4 {
  height: 84px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 113px;
}

.turian .text-wrapper-25 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 69px;
  white-space: nowrap;
  width: 113px;
}

.turian .overlap-5 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 69px;
  width: 113px;
}

.turian .overlap-6 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 113px;
}

.turian .text-wrapper-26 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 267px;
  white-space: nowrap;
}

.turian .group-5 {
  height: 124px;
  left: 775px;
  position: absolute;
  top: 0;
  width: 121px;
}

.turian .group-6 {
  height: 124px;
  left: 970px;
  position: absolute;
  top: 0;
  width: 121px;
}

.turian .group-7 {
  height: 266px;
  left: 360px;
  position: absolute;
  top: 0;
  width: 138px;
}

.turian .overlap-7 {
  height: 84px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 120px;
}

.turian .text-wrapper-27 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 222px;
  white-space: nowrap;
  width: 113px;
}

.turian .text-wrapper-28 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 250px;
  white-space: nowrap;
  width: 113px;
}

.turian .hero-header {
  height: 713px;
  left: 165px;
  position: absolute;
  top: 1803px;
  width: 1181px;
}

.turian .group-8 {
  height: 100px;
  left: 169px;
  position: absolute;
  top: 2733px;
  width: 186px;
}

.turian .fi {
  height: 39px;
  left: 104px;
  position: absolute;
  top: 61px;
  width: 39px;
}

.turian .fi-2 {
  height: 39px;
  left: 52px;
  position: absolute;
  top: 61px;
  width: 39px;
}

.turian .logo-preto-branco {
  height: 48px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 186px;
}

.turian .linkedin {
  height: 39px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 39px;
}

.turian .line {
  height: 247px;
  left: 584px;
  position: absolute;
  top: 2752px;
  width: 1px;
}

.turian .line-2 {
  height: 247px;
  left: 795px;
  position: absolute;
  top: 2752px;
  width: 1px;
}

.turian .line-3 {
  height: 247px;
  left: 999px;
  position: absolute;
  top: 2752px;
  width: 1px;
}

.turian .line-4 {
  height: 247px;
  left: 1194px;
  position: absolute;
  top: 2752px;
  width: 1px;
}

.turian .overlap-8 {
  height: 914px;
  left: -226px;
  position: absolute;
  top: 0;
  width: 1738px;
}

.turian .rectangle-4 {
  background-color: #e6f1fe;
  height: 914px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 1515px;
}

.turian .ellipse-wrapper {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.49px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 367px;
}

.turian .ellipse-2 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.19px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.turian .group-9 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 909px;
  position: absolute;
  top: 213px;
  width: 634px;
}

.turian .ellipse-3 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 197.26px;
  height: 395px;
  left: 131px;
  position: relative;
  top: 96px;
  width: 395px;
}

.turian .frame-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50.4px;
  left: 384px;
  position: absolute;
  top: 265px;
  width: 709px;
}

.turian .frame-13 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.9px;
  justify-content: center;
  position: relative;
  width: 708.75px;
}

.turian .servi-o-profissional {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 37.8px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60.9px;
  margin-top: -0.79px;
  position: relative;
  width: 566.21px;
}

.turian .span {
  color: #000000;
}

.turian .text-wrapper-29 {
  color: #c59318;
}

.turian .na-magma {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18.9px;
  position: relative;
  width: 698.51px;
}

.turian .text-wrapper-30 {
  font-weight: 500;
  line-height: 30.3px;
}

.turian .text-wrapper-31 {
  font-weight: 900;
  line-height: 30.3px;
}

.turian .text-wrapper-32 {
  font-style: italic;
  font-weight: 800;
  line-height: 31.5px;
}

.turian .frame-14 {
  align-items: center;
  background-color: #c59318;
  border-radius: 78.75px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 12.6px 25.2px;
  position: relative;
}

.turian .text-wrapper-33 {
  color: var(--base-white);
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.turian .div-rewards-icons {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 19.21px;
  padding: 0px 52.64px 3.78px 0px;
  position: relative;
  width: 393.91px;
}

.turian .slator-svg {
  height: 103.16px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.turian .top-fastest {
  background-image: url(../../../static/img/top-30-fastest-sustained-growth-lsps-low-2-1-png-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 103.16px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.turian .nimdzi-svg {
  height: 103.16px;
  margin-right: -6.65px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.turian .frame-svg {
  height: 103.16px;
  margin-right: -129.03px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.turian .frame-15 {
  align-items: center;
  border: 1.57px solid;
  border-color: #c59318;
  border-radius: 78.75px;
  display: inline-flex;
  justify-content: center;
  left: 658px;
  overflow: hidden;
  padding: 12.6px 25.2px;
  position: absolute;
  top: 579px;
}

.turian .text-wrapper-34 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.58px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.turian .imagens {
  height: 422px;
  left: 1121px;
  position: absolute;
  top: 341px;
  width: 416px;
}

.turian .overlap-group-3 {
  height: 457px;
  left: 0;
  position: absolute;
  top: -90px;
  width: 457px;
}

.turian .div-absolute {
  background-color: #faf4e3;
  border-radius: 78.75px;
  height: 389px;
  left: 0;
  position: absolute;
  top: 0;
  width: 331px;
}

.turian .frame-16 {
  border-radius: 78.75px;
  height: 309px;
  left: 147px;
  position: absolute;
  top: 147px;
  width: 309px;
}

.turian .servio-de-trado-wrapper {
  background-color: #c59318;
  border-radius: 78.75px;
  height: 310px;
  overflow: hidden;
  position: relative;
  width: 310px;
}

.turian .servio-de-trado {
  height: 310px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 311px;
}

.turian .ezgif {
  height: 205px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 173px;
}

.turian .empresa-de-traduo {
  background-image: url(../../../static/img/mask-group-39.png);
  background-size: 100% 100%;
  height: 62px;
  left: 253px;
  position: absolute;
  top: 45px;
  width: 62px;
}

.turian .empresa-de-traduo-2 {
  background-image: url(../../../static/img/mask-group-43.png);
  background-size: 100% 100%;
  height: 31px;
  left: 75px;
  position: absolute;
  top: 301px;
  width: 31px;
}

.turian .empresa-de-traduo-3 {
  background-image: url(../../../static/img/mask-group-40.png);
  background-size: 100% 100%;
  height: 40px;
  left: 376px;
  opacity: 0.15;
  position: absolute;
  top: 1184px;
  width: 40px;
}

.turian .empresa-de-traduo-4 {
  background-image: url(../../../static/img/mask-group-41.png);
  background-size: 100% 100%;
  height: 40px;
  left: -233px;
  opacity: 0.15;
  position: absolute;
  top: 1130px;
  width: 40px;
}

.turian .empresa-de-traduo-5 {
  background-image: url(../../../static/img/mask-group-42.png);
  background-size: 100% 100%;
  height: 39px;
  left: -232px;
  opacity: 0.15;
  position: absolute;
  top: 1293px;
  width: 39px;
}

.turian .empresa-de-traduo-6 {
  background-image: url(../../../static/img/mask-group-45.png);
  background-size: 100% 100%;
  height: 46px;
  left: 1121px;
  position: absolute;
  top: 228px;
  width: 46px;
}

.turian .overlap-9 {
  height: 1787px;
  left: -163px;
  position: absolute;
  top: 914px;
  width: 1672px;
}

.turian .group-10 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 384.3px;
  height: 769px;
  left: 0;
  position: absolute;
  top: 186px;
  width: 769px;
}

.turian .ellipse-4 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 239.16px;
  height: 478px;
  left: 159px;
  position: relative;
  top: 116px;
  width: 478px;
}

.turian .empresa-de-traduo-7 {
  background-image: url(../../../static/img/mask-group-44.png);
  background-size: 100% 100%;
  height: 40px;
  left: 258px;
  opacity: 0.15;
  position: absolute;
  top: 828px;
  width: 40px;
}

.turian .partners {
  background-color: #fafafa;
  height: 435px;
  left: 352px;
  position: absolute;
  top: 163px;
  width: 1134px;
}

.turian .empresas-que-confiam-wrapper {
  height: 34px;
  left: 362px;
  position: absolute;
  top: 61px;
  width: 410px;
}

.turian .empresas-que-confiam {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.79px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.turian .group-11 {
  height: 164px;
  left: 119px;
  position: absolute;
  top: 168px;
  width: 896px;
}

.turian .rectangle-5 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 239px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.turian .overlap-wrapper {
  height: 1028px;
  left: 339px;
  position: absolute;
  top: 759px;
  width: 1160px;
}

.turian .overlap-10 {
  background-image: url(../../../static/img/group-44-3.png);
  background-size: 100% 100%;
  height: 1060px;
  left: -16px;
  position: relative;
  width: 1190px;
}

.turian .group-12 {
  height: 731px;
  left: 630px;
  position: absolute;
  top: 312px;
  width: 560px;
}

.turian .a-magma-translation {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18.1px;
  font-weight: 400;
  height: 126px;
  left: 41px;
  letter-spacing: 0;
  line-height: 41.7px;
  position: absolute;
  top: 110px;
  width: 1095px;
}

.turian .text-wrapper-35 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 41.7px;
}

.turian .text-wrapper-36 {
  font-weight: 600;
}

.turian .overlap-11 {
  height: 2062px;
  left: -3px;
  position: absolute;
  top: 2972px;
  width: 1515px;
}

.turian .overlap-group-wrapper {
  height: 920px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.turian .overlap-12 {
  height: 920px;
  position: relative;
}

.turian .div-max-wrapper {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  height: 920px;
  left: 0;
  padding: 55.12px 0px 15.75px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.turian .div-max {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1575px;
  padding: 0px 40.95px;
  position: relative;
  width: 1196.37px;
}

.turian .div-row-2 {
  align-self: stretch;
  height: 565.9px;
  position: relative;
  width: 100%;
}

.turian .div-box-pad-wrapper {
  height: 294px;
  left: 0;
  position: absolute;
  top: 145px;
  width: 371px;
}

.turian .div-box-pad {
  align-items: flex-start;
  background-color: #5857ff;
  border-radius: 18.9px;
  box-shadow: 0px 25.2px 50.4px -9.45px #0f172833;
  display: flex;
  flex-direction: column;
  gap: 18.9px;
  justify-content: center;
  left: 19px;
  padding: 55.12px 43.31px 55.6px;
  position: relative;
  top: -87px;
  width: 334px;
}

.turian .heading-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33.86px;
  padding: 0px 0px 11.81px;
  position: relative;
  width: 100%;
}

.turian .heading-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 93.5px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-37 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 27.6px;
  font-weight: 800;
  height: 38.59px;
  letter-spacing: 1.1px;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
}

.turian .a-tradu-o-apenas-o-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33.86px;
  padding: 0px 25.77px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .a-tradu-o-apenas-o {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24.8px;
  margin-left: -0.47px;
  margin-right: -26.24px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .overlap-group-4 {
  height: 567px;
  left: 371px;
  position: absolute;
  top: 145px;
  width: 371px;
}

.turian .div-item-hp-perfect-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 18.9px 100.01px;
  position: absolute;
  top: 0;
  width: 371px;
}

.turian .div-item-hp-perfect-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.34px;
  padding: 33.07px 33.07px 39.85px;
  position: relative;
  width: 100%;
}

.turian .heading-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -14.31px;
  position: relative;
}

.turian .heading-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 121.84px 0px 0px;
  position: relative;
}

.turian .text-wrapper-38 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.7px;
  font-weight: 600;
  letter-spacing: 0.79px;
  line-height: normal;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: fit-content;
}

.turian .div-text-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 5.29px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-39 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.24px;
  margin-right: -5.53px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .image-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: center;
  left: 33px;
  max-width: 54.34px;
  padding: 0px 0.59px;
  position: absolute;
  top: -17px;
  width: 54px;
}

.turian .image-5 {
  height: 35.44px;
  position: relative;
  width: 53.16px;
}

.turian .span-wrapper {
  align-items: flex-start;
  background-color: #5857ff;
  bottom: -15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  width: 98px;
}

.turian .span-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 3.21px;
  height: 31.5px;
  padding: 0px 9.36px 0px 5.51px;
  position: relative;
  width: 100%;
}

.turian .arrow-sm-red-svg {
  height: 10.24px;
  position: relative;
  width: 11.03px;
}

.turian .text-wrapper-40 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-top: -1.04px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-item-hp-perfect-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 18.9px 78.75px;
  position: absolute;
  top: 294px;
  width: 371px;
}

.turian .link-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -22.62px;
  position: relative;
}

.turian .heading-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 165.15px 0px 0px;
  position: relative;
}

.turian .text-wrapper-41 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.7px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .add-a-personal-touch-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 10.02px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .add-a-personal-touch {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-right: -0.49px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .image-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: center;
  left: 33px;
  max-width: 55.12px;
  padding: 0px 0.6px 0px 0.6px;
  position: absolute;
  top: -17px;
  width: 55px;
}

.turian .image-7 {
  height: 35.44px;
  position: relative;
  width: 53.93px;
}

.turian .link-3 {
  align-items: flex-start;
  background-color: #5857ff;
  bottom: -16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  width: 98px;
}

.turian .div-item-hp-perfect-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 743px;
  padding: 0px 18.9px 78.75px;
  position: absolute;
  top: 145px;
  width: 371px;
}

.turian .div-item-hp-perfect-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 11.34px;
  height: 195.3px;
  padding: 33.07px 33.08px 39.85px 33.07px;
  position: relative;
  width: 100%;
}

.turian .link-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.turian .heading-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 56.48px 0px 0px;
  position: relative;
}

.turian .div-text-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 9.23px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-42 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.24px;
  margin-right: -9.46px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .div-item-hp-perfect-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 18.9px 78.75px;
  position: absolute;
  top: 438px;
  width: 371px;
}

.turian .heading-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 83.26px 0px 0px;
  position: relative;
}

.turian .text-wrapper-43 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 10.81px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-44 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.23px;
  margin-right: -11.04px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .arrow-sm-red-svg-2 {
  height: 10.24px;
  position: relative;
  width: 11.02px;
}

.turian .div-item-hp-perfect-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 743px;
  padding: 0px 18.9px 78.75px;
  position: absolute;
  top: 438px;
  width: 371px;
}

.turian .div-item-hp-perfect-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 11.34px;
  height: 196.88px;
  padding: 33.07px 33.08px 39.85px 33.07px;
  position: relative;
  width: 100%;
}

.turian .heading-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 76.17px 0px 0px;
  position: relative;
}

.turian .text-wrapper-45 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.5px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 4.5px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-46 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.24px;
  margin-right: -4.74px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .mask-group-wrapper {
  height: 65px;
  left: 434px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  width: 45px;
}

.turian .mask-group {
  height: 46px;
  left: 2114px;
  position: absolute;
  top: 4138px;
  width: 45px;
}

.turian .div-inner-width-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 866px;
  left: 161px;
  padding: 55.12px 54.81px 55.12px 54.81px;
  position: absolute;
  top: 1120px;
  width: 1196px;
}

.turian .div-inner-width-2 {
  height: 715.05px;
  margin-left: -0.08px;
  margin-right: -0.08px;
  max-width: 1086.75px;
  position: relative;
  width: 1086.75px;
}

.turian .somos-experts-em-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 364.93px 0px 365.08px;
  position: absolute;
  top: -37px;
  width: 1040px;
}

.turian .somos-experts-em {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 26.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 38.9px;
  margin-left: -77.26px;
  margin-right: -77.26px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .text-wrapper-47 {
  font-weight: 300;
}

.turian .text-wrapper-48 {
  font-weight: 700;
}

.turian .div-text-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 288px;
  max-width: 511.88px;
  padding: 0px 16.06px 0px 16.22px;
  position: absolute;
  top: 13px;
}

.turian .heading-10 {
  flex: 0 0 auto;
  margin-left: -279.96px;
  margin-right: -279.96px;
  position: relative;
  width: 1039.5px;
}

.turian .div-flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 504px;
  justify-content: space-around;
  left: 24px;
  padding: 0px 311.85px 0px 0px;
  position: absolute;
  top: 226px;
  width: 1040px;
}

.turian .div-exp-ind-left {
  height: 504.16px;
  position: relative;
  width: 727.65px;
}

.turian .div-exp-ind-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 39.38px;
  position: absolute;
  top: 0;
  width: 349px;
}

.turian .div-exp-ind-item-2 {
  align-self: stretch;
  height: 128.68px;
  position: relative;
  width: 100%;
}

.turian .heading-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 183.89px 0px 0px;
  position: absolute;
  top: 0;
  width: 349px;
}

.turian .text-wrapper-49 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 291.38px;
  padding: 0px 34.65px 0px 0px;
  position: absolute;
  top: 36px;
  width: 291px;
}

.turian .text-wrapper-50 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -17.23px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .link-5 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 87px;
}

.turian .text-wrapper-51 {
  color: #5857ff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.turian .image-8 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 76px;
  max-width: 11.81px;
  position: absolute;
  top: 5px;
}

.turian .image-9 {
  height: 7.88px;
  position: relative;
  width: 11.81px;
}

.turian .overlap-group-5 {
  height: 504px;
  left: 378px;
  position: absolute;
  top: 0;
  width: 349px;
}

.turian .div-exp-ind-item-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.81px;
  position: relative;
  width: 100%;
}

.turian .heading-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 154.75px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-52 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.1px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 291.38px;
  padding: 0px 44.89px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-53 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -27.47px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .link-6 {
  height: 17.01px;
  position: relative;
  width: 87.45px;
}

.turian .div-exp-ind-item-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 39.38px;
  position: absolute;
  top: 168px;
  width: 349px;
}

.turian .heading-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 159.48px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-54 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.3px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 291.38px;
  padding: 0px 48.04px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-55 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -30.62px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .div-exp-ind-item-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 39.38px;
  position: absolute;
  top: 336px;
  width: 349px;
}

.turian .heading-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 142.15px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-56 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 291.38px;
  padding: 0px 26.77px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-57 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -9.36px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .heading-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 146.88px 0px 0px;
  position: absolute;
  top: 0;
  width: 349px;
}

.turian .text-wrapper-58 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.5px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 291.38px;
  padding: 0px 21.26px 0px 0px;
  position: absolute;
  top: 36px;
  width: 291px;
}

.turian .text-wrapper-59 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -3.84px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .heading-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 164.2px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .div-text-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 291.38px;
  padding: 0px 33.86px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-60 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.04px;
  margin-right: -16.44px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.turian .div-exp-ind-right {
  align-items: flex-start;
  border: 3.15px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  left: 71.21%;
  position: absolute;
  top: -3px;
  width: 30.61%;
}

.turian .div-squre {
  background-color: #e6f1fe;
  border-radius: 14.96px;
  height: 181px;
  position: absolute;
  right: -65px;
  top: -71px;
  width: 181px;
}

.turian .div-hero {
  align-self: stretch;
  background-image: url(../../../static/img/side-image-ind-jpg-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 396.04px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.turian .image-10 {
  height: 396px;
  left: -219px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 595px;
}

.turian .div-squre-2 {
  bottom: 2px;
  height: 39px;
  position: absolute;
  right: -9px;
  width: 134px;
}

.turian .div-squre-3 {
  background-color: #c59318;
  border-radius: 5.51px;
  bottom: 89px;
  height: 55px;
  left: 716px;
  position: absolute;
  width: 55px;
}

.turian .div-industry-bottom {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.24px 0px;
  justify-content: center;
  left: 24px;
  padding: 0px 31.86px 0px 31.85px;
  position: absolute;
  top: 764px;
  width: 1040px;
}

.turian .div-text-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 14.17px 0px 0px;
  position: relative;
  width: 147.26px;
}

.turian .link-gaming {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo {
  background-color: #00000033;
  height: 100%;
  left: 128px;
  position: absolute;
  top: 1.18%;
  width: 1px;
}

.turian .div-text-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 14.17px;
  position: relative;
}

.turian .text-wrapper-61 {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 13.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-2 {
  background-color: #00000033;
  height: 100%;
  left: 113px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .pseudo-3 {
  background-color: #00000033;
  height: 100%;
  left: 110px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .div-text-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.77px 0px 14.17px;
  position: relative;
}

.turian .link-app {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-4 {
  background-color: #00000033;
  height: 100%;
  left: 132px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .div-text-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.72px 0px 14.17px;
  position: relative;
}

.turian .text-wrapper-62 {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 13.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-5 {
  background-color: #00000033;
  height: 100%;
  left: 166px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .pseudo-6 {
  background-color: #00000033;
  height: 100%;
  left: 86px;
  position: absolute;
  top: 1.18%;
  width: 1px;
}

.turian .empresa-de-traduo-8 {
  background-image: url(../../../static/img/mask-group-50.png);
  background-size: 100% 100%;
  height: 65px;
  left: 1384px;
  opacity: 0.15;
  position: absolute;
  top: 879px;
  width: 65px;
}

.turian .rectangle-6 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 239px;
  left: 0;
  position: absolute;
  top: 920px;
  width: 1512px;
}

.turian .group-13 {
  height: 817px;
  left: 134px;
  position: absolute;
  top: 1245px;
  width: 1253px;
}

.turian .entendemos-que-cada {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: 28.3px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1251px;
}

.turian .text-wrapper-63 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.3px;
}

.turian .empresa-de-traduo-9 {
  background-image: url(../../../static/img/mask-group-51.png);
  background-size: 100% 100%;
  height: 40px;
  left: 1179px;
  opacity: 0.15;
  position: absolute;
  top: 135px;
  width: 40px;
}

.turian .link-7 {
  align-items: flex-start;
  background-color: #5857ff;
  border: 0.79px solid;
  border-radius: 47.25px;
  display: inline-flex;
  justify-content: center;
  left: 533px;
  min-width: 126px;
  padding: 0.94px 14.8px 0px;
  position: absolute;
  top: 775px;
}

.turian .overlap-13 {
  height: 239px;
  left: 0;
  position: absolute;
  top: 2733px;
  width: 1512px;
}

.turian .empresa-de-traduo-10 {
  background-image: url(../../../static/img/mask-group-47.png);
  background-size: 100% 100%;
  height: 40px;
  left: 1184px;
  opacity: 0.15;
  position: absolute;
  top: 46px;
  width: 40px;
}

.turian .empresa-de-traduo-11 {
  background-image: url(../../../static/img/mask-group-49.png);
  background-size: 100% 100%;
  height: 65px;
  left: 536px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 65px;
}

.turian .empresa-de-traduo-12 {
  background-image: url(../../../static/img/mask-group-48.png);
  background-size: 100% 100%;
  height: 40px;
  left: 73px;
  opacity: 0.15;
  position: absolute;
  top: 4214px;
  width: 40px;
}

.turian .rectangle-7 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 34.9%, rgba(230, 241, 254, 0) 100%);
  height: 220px;
  left: 0;
  position: fixed;
  top: -1px;
  width: 1512px;
}

.turian .dropdown-instance {
  left: 1090px !important;
  position: fixed !important;
  top: 67px !important;
  width: 104px !important;
}

.turian .design-component-instance-node {
  border-radius: 22.84px !important;
}

.turian .dropdown-2 {
  background-color: #c59318 !important;
  border: 0.79px solid !important;
  border-radius: 18.11px !important;
  gap: 7.87px !important;
  padding: 0px 7.87px !important;
}

.turian .dropdown-3 {
  padding: 3.94px 1.57px 5.51px !important;
}

.turian .dropdown-4 {
  color: #ffffff !important;
  font-family: "Inter", Helvetica !important;
  font-size: 11px !important;
  line-height: 15.7px !important;
  margin-top: -0.79px !important;
}

.turian .dropdown-5 {
  gap: 3.15px !important;
  padding: 4.72px 0px 4.72px 1.57px !important;
}

.turian .design-component-instance-node-2 {
  height: 15.75px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 15.75px !important;
}

.turian .dropdown-6 {
  background-color: unset !important;
  bottom: 1px !important;
}

.turian .dropdown-7 {
  left: 1213px !important;
  position: fixed !important;
  top: 67px !important;
  width: 104px !important;
}

.turian .dropdown-8 {
  background-color: unset !important;
  border: 1.57px solid !important;
  border-color: #c59318 !important;
  border-radius: 18.11px !important;
  gap: 7.87px !important;
  padding: 0px 7.87px !important;
}

.turian .dropdown-9 {
  color: #000000 !important;
  flex: 1 !important;
  font-family: "Inter", Helvetica !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 15.7px !important;
  margin-top: -0.79px !important;
  text-align: center !important;
  white-space: unset !important;
  width: unset !important;
}

.turian .group-14 {
  height: 19px;
  left: 576px;
  position: fixed;
  top: 70px;
  width: 387px;
}

.turian .frame-17 {
  align-items: center;
  display: inline-flex;
  gap: 3.15px;
  left: 0;
  position: absolute;
  top: 0;
}

.turian .text-wrapper-64 {
  color: var(--gray-900);
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .expand-more-instance {
  height: 18.9px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 18.9px !important;
}

.turian .frame-18 {
  align-items: center;
  display: inline-flex;
  gap: 3.15px;
  left: 102px;
  position: absolute;
  top: 0;
}

.turian .frame-19 {
  align-items: center;
  display: inline-flex;
  gap: 3.15px;
  left: 210px;
  position: absolute;
  top: 0;
}

.turian .frame-20 {
  align-items: center;
  display: inline-flex;
  gap: 3.15px;
  left: 318px;
  position: absolute;
  top: 0;
}

.turian .logo-preto-branco-2 {
  height: 34px;
  left: 158px;
  object-fit: cover;
  position: fixed;
  top: 67px;
  width: 130px;
}
