.turian {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.turian .div-2 {
  background-color: #ffffff;
  height: 8013px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.turian .overlap {
  height: 3077px;
  left: 0;
  position: absolute;
  top: 4936px;
  width: 1440px;
}

.turian .rectangle {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 804px;
  left: 0;
  position: absolute;
  top: 2273px;
  width: 1440px;
}

.turian .testimonial {
  height: 500px;
  left: 181px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1079px;
}

.turian .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.75px;
  left: 90px;
  position: absolute;
  top: 70px;
}

.turian .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: -0.75px;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: 674.25px;
}

.turian .text-wrapper-2 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
  width: 674.25px;
}

.turian .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 15px;
  left: 90px;
  position: absolute;
  top: 214px;
}

.turian .frame-3 {
  align-items: flex-start;
  background-color: #5857ff;
  border-radius: 22.5px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.25px;
  padding: 30px 54.75px 30px 30px;
  position: relative;
}

.turian .frame-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 235.5px;
}

.turian .ellipse {
  height: 61.5px;
  object-fit: cover;
  position: relative;
  width: 61.5px;
}

.turian .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 14.25px;
  position: relative;
}

.turian .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  margin-right: -81px;
  position: relative;
  width: 240px;
}

.turian .bruno-vidal {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
}

.turian .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .text-wrapper-4 {
  color: #ffffffcc;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 300px;
}

.turian .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.5px;
  justify-content: center;
  position: relative;
}

.turian .star {
  height: 13.04px;
  position: relative;
  width: 13.63px;
}

.turian .frame-7 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 22.5px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.25px;
  height: 264.75px;
  justify-content: center;
  padding: 30px 54.75px 30px 30px;
  position: relative;
}

.turian .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
}

.turian .img {
  height: 63.75px;
  object-fit: cover;
  position: relative;
  width: 63.75px;
}

.turian .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.25px;
  position: relative;
}

.turian .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.5px;
  position: relative;
}

.turian .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: 147px;
}

.turian .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .text-wrapper-7 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 300px;
}

.turian .frame-11 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 22.5px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.25px;
  padding: 30px 54.75px 30px 30px;
  position: relative;
}

.turian .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .overlap-group {
  background-color: #5857ff;
  border-radius: 31.88px;
  height: 64px;
  left: 928px;
  position: absolute;
  top: 79px;
  width: 64px;
}

.turian .bi-arrow-left-short {
  height: 37px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 37px;
}

.turian .bi-arrow-left-short-wrapper {
  background-color: #f8f9ff;
  border-radius: 31.88px;
  height: 64px;
  left: 849px;
  position: absolute;
  top: 79px;
  width: 64px;
}

.turian .group {
  height: 1318px;
  left: 0;
  position: absolute;
  top: 476px;
  width: 1440px;
}

.turian .rectangle-2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 227px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.turian .section {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  gap: 10.5px;
  height: 901px;
  left: 0;
  padding: 121.5px 52.2px 52.5px 52.2px;
  position: absolute;
  top: 227px;
  width: 1440px;
}

.turian .div-inner-width {
  height: 639.75px;
  max-width: 1035px;
  position: relative;
  width: 1035px;
}

.turian .heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 22px;
  padding: 0px 415.81px 0px 415.94px;
  position: absolute;
  top: 0;
  width: 990px;
}

.turian .text-wrapper-9 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 26.2px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 37.1px;
  margin-left: -100.88px;
  margin-right: -100.88px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 22px;
  padding: 0px 331.81px 0px 331.94px;
  position: absolute;
  top: 48px;
  width: 990px;
}

.turian .text-wrapper-10 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 15.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: -331.87px;
  margin-right: -331.88px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.turian .div-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: space-between;
  left: 9px;
  padding: 0px 0.01px 0px 0px;
  position: absolute;
  top: 155px;
  width: 1017px;
}

.turian .div-item-serv-power {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 37.5px;
  position: relative;
  width: 338.99px;
}

.turian .div-item-hp-perfect-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 16.5px;
  position: relative;
  width: 100%;
}

.turian .div-item-hp-perfect {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.55px;
  padding: 37.05px 31.5px 37.5px;
  position: relative;
  width: 100%;
}

.turian .img-2 {
  height: 27px;
  position: relative;
  width: 25.5px;
}

.turian .heading-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 4.49px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 50.24px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-12 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-right: -50.25px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .image {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
  left: 0;
  max-width: 51.75px;
  padding: 5.62px 0px;
  position: absolute;
  top: -27px;
  width: 52px;
}

.turian .image-2 {
  height: 33.75px;
  position: relative;
  width: 51.75px;
}

.turian .img-3 {
  height: 27px;
  position: relative;
  width: 27px;
}

.turian .marketing-material-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 26.99px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.49px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-14 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-right: -13.5px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .alt-do-site {
  height: 26.25px;
  position: relative;
  width: 27px;
}

.turian .heading-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 15.74px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .div-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 42.74px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-15 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-right: -42.75px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .image-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
  left: 0;
  max-width: 51.75px;
  padding: 5.25px 0px;
  position: absolute;
  top: -27px;
  width: 52px;
}

.turian .image-3 {
  height: 34.5px;
  position: relative;
  width: 51.75px;
}

.turian .filme {
  height: 27.75px;
  position: relative;
  width: 27px;
}

.turian .text-wrapper-16 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-right: -13.75px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-center {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 435px;
  position: relative;
  width: 990px;
}

.turian .link {
  align-items: flex-start;
  background-color: #5857ff;
  border: 0.75px solid;
  border-radius: 45px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-left: -27.6px;
  margin-right: -27.6px;
  min-width: 120px;
  padding: 0.9px 14.1px 0px;
  position: relative;
}

.turian .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 11.9px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38.2px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .rectangle-3 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 190px;
  left: 0;
  position: absolute;
  top: 1128px;
  width: 1440px;
}

.turian .group-2 {
  height: 421px;
  left: 256px;
  position: absolute;
  top: 2603px;
  width: 1035px;
}

.turian .overlap-2 {
  height: 77px;
  left: 0;
  position: absolute;
  top: 344px;
  width: 926px;
}

.turian .text-wrapper-18 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 11.9px;
  font-weight: 400;
  height: 39px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-19 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 11.9px;
  font-weight: 400;
  height: 39px;
  left: 320px;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.turian .group-3 {
  height: 185px;
  left: 125px;
  position: absolute;
  top: 0;
  width: 162px;
}

.turian .text-wrapper-20 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 39px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-21 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  width: 107px;
}

.turian .overlap-group-2 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 109px;
}

.turian .text-wrapper-22 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 39px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.turian .text-wrapper-23 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
  width: 107px;
}

.turian .overlap-3 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 150px;
}

.turian .text-wrapper-24 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 39px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.turian .group-4 {
  height: 293px;
  left: 544px;
  position: absolute;
  top: 0;
  width: 127px;
}

.turian .overlap-4 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 107px;
}

.turian .text-wrapper-25 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 107px;
}

.turian .overlap-5 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 107px;
}

.turian .overlap-6 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 107px;
}

.turian .text-wrapper-26 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 39px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 254px;
  white-space: nowrap;
}

.turian .group-5 {
  height: 118px;
  left: 738px;
  position: absolute;
  top: 0;
  width: 115px;
}

.turian .group-6 {
  height: 118px;
  left: 924px;
  position: absolute;
  top: 0;
  width: 115px;
}

.turian .group-7 {
  height: 254px;
  left: 343px;
  position: absolute;
  top: 0;
  width: 132px;
}

.turian .overlap-7 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 114px;
}

.turian .text-wrapper-27 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 212px;
  white-space: nowrap;
  width: 107px;
}

.turian .text-wrapper-28 {
  color: #575757;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.2px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
  width: 107px;
}

.turian .hero-header {
  height: 679px;
  left: 158px;
  position: absolute;
  top: 1717px;
  width: 1125px;
}

.turian .group-8 {
  height: 95px;
  left: 161px;
  position: absolute;
  top: 2603px;
  width: 177px;
}

.turian .fi {
  height: 38px;
  left: 99px;
  position: absolute;
  top: 58px;
  width: 38px;
}

.turian .fi-2 {
  height: 38px;
  left: 50px;
  position: absolute;
  top: 58px;
  width: 38px;
}

.turian .logo-preto-branco {
  height: 46px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 177px;
}

.turian .linkedin {
  height: 38px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 38px;
}

.turian .line {
  height: 236px;
  left: 556px;
  position: absolute;
  top: 2621px;
  width: 1px;
}

.turian .line-2 {
  height: 236px;
  left: 757px;
  position: absolute;
  top: 2621px;
  width: 1px;
}

.turian .line-3 {
  height: 236px;
  left: 951px;
  position: absolute;
  top: 2621px;
  width: 1px;
}

.turian .line-4 {
  height: 236px;
  left: 1137px;
  position: absolute;
  top: 2621px;
  width: 1px;
}

.turian .overlap-8 {
  height: 871px;
  left: -215px;
  position: absolute;
  top: 0;
  width: 1655px;
}

.turian .rectangle-4 {
  background-color: #e6f1fe;
  height: 871px;
  left: 212px;
  position: absolute;
  top: 0;
  width: 1443px;
}

.turian .ellipse-wrapper {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 174.75px;
  height: 350px;
  left: 0;
  position: absolute;
  top: 377px;
  width: 350px;
}

.turian .ellipse-2 {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 108.75px;
  height: 218px;
  left: 72px;
  position: relative;
  top: 52px;
  width: 218px;
}

.turian .group-9 {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 301.88px;
  height: 604px;
  left: 866px;
  position: absolute;
  top: 202px;
  width: 604px;
}

.turian .ellipse-3 {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 187.86px;
  height: 376px;
  left: 125px;
  position: relative;
  top: 91px;
  width: 376px;
}

.turian .frame-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 48px;
  left: 365px;
  position: absolute;
  top: 252px;
  width: 675px;
}

.turian .frame-13 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  position: relative;
  width: 675px;
}

.turian .servi-o-profissional {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 58px;
  margin-top: -0.75px;
  position: relative;
  width: 539.25px;
}

.turian .span {
  color: #000000;
}

.turian .text-wrapper-29 {
  color: #c59318;
}

.turian .na-magma {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  width: 665.25px;
}

.turian .text-wrapper-30 {
  font-weight: 500;
  line-height: 28.9px;
}

.turian .text-wrapper-31 {
  font-weight: 900;
  line-height: 28.9px;
}

.turian .text-wrapper-32 {
  font-style: italic;
  font-weight: 800;
  line-height: 30px;
}

.turian .frame-14 {
  align-items: center;
  background-color: #c59318;
  border-radius: 75px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
}

.turian .text-wrapper-33 {
  color: var(--base-white);
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-rewards-icons {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 18.3px;
  padding: 0px 50.14px 3.6px 0px;
  position: relative;
  width: 375.15px;
}

.turian .slator-svg {
  height: 98.25px;
  max-width: 375.15px;
  position: relative;
  width: 98.25px;
}

.turian .top-fastest {
  background-image: url(../../../static/img/top-30-fastest-sustained-growth-lsps-low-2-1-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 98.25px;
  max-width: 375.15px;
  position: relative;
  width: 98.25px;
}

.turian .nimdzi-svg {
  height: 98.25px;
  margin-right: -6.34px;
  max-width: 375.15px;
  position: relative;
  width: 98.25px;
}

.turian .frame-svg {
  height: 98.25px;
  margin-right: -122.89px;
  max-width: 375.15px;
  position: relative;
  width: 98.25px;
}

.turian .frame-15 {
  align-items: center;
  border: 1.5px solid;
  border-color: #c59318;
  border-radius: 75px;
  display: inline-flex;
  justify-content: center;
  left: 626px;
  overflow: hidden;
  padding: 12px 24px;
  position: absolute;
  top: 551px;
}

.turian .text-wrapper-34 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .imagens {
  height: 402px;
  left: 1067px;
  position: absolute;
  top: 325px;
  width: 396px;
}

.turian .overlap-group-3 {
  height: 435px;
  left: 0;
  position: absolute;
  top: -86px;
  width: 435px;
}

.turian .div-absolute {
  background-color: #faf4e3;
  border-radius: 75px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 315px;
}

.turian .frame-16 {
  border-radius: 75px;
  height: 295px;
  left: 140px;
  position: absolute;
  top: 140px;
  width: 295px;
}

.turian .servio-de-trado-wrapper {
  background-color: #c59318;
  border-radius: 75px;
  height: 295px;
  overflow: hidden;
  position: relative;
}

.turian .servio-de-trado {
  height: 295px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 296px;
}

.turian .ezgif {
  height: 195px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 165px;
}

.turian .empresa-de-traduo {
  background-image: url(../../../static/img/mask-group-4.png);
  background-size: 100% 100%;
  height: 59px;
  left: 241px;
  position: absolute;
  top: 43px;
  width: 59px;
}

.turian .empresa-de-traduo-2 {
  background-image: url(../../../static/img/mask-group-8.png);
  background-size: 100% 100%;
  height: 29px;
  left: 71px;
  position: absolute;
  top: 286px;
  width: 29px;
}

.turian .empresa-de-traduo-3 {
  background-image: url(../../../static/img/mask-group-5.png);
  background-size: 100% 100%;
  height: 38px;
  left: 358px;
  opacity: 0.15;
  position: absolute;
  top: 1128px;
  width: 38px;
}

.turian .empresa-de-traduo-4 {
  background-image: url(../../../static/img/mask-group-6-2x.png);
  background-size: 100% 100%;
  height: 38px;
  left: -222px;
  opacity: 0.15;
  position: absolute;
  top: 1076px;
  width: 38px;
}

.turian .empresa-de-traduo-5 {
  background-image: url(../../../static/img/mask-group-7.png);
  background-size: 100% 100%;
  height: 37px;
  left: -220px;
  opacity: 0.15;
  position: absolute;
  top: 1232px;
  width: 37px;
}

.turian .empresa-de-traduo-6 {
  background-image: url(../../../static/img/mask-group-10.png);
  background-size: 100% 100%;
  height: 44px;
  left: 1067px;
  position: absolute;
  top: 218px;
  width: 44px;
}

.turian .overlap-9 {
  height: 1702px;
  left: -155px;
  position: absolute;
  top: 871px;
  width: 1592px;
}

.turian .group-10 {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 366px;
  height: 732px;
  left: 0;
  position: absolute;
  top: 177px;
  width: 732px;
}

.turian .ellipse-4 {
  border: 0.75px solid;
  border-color: #c593184c;
  border-radius: 227.77px;
  height: 456px;
  left: 152px;
  position: relative;
  top: 111px;
  width: 456px;
}

.turian .empresa-de-traduo-7 {
  background-image: url(../../../static/img/mask-group-9.png);
  background-size: 100% 100%;
  height: 38px;
  left: 246px;
  opacity: 0.15;
  position: absolute;
  top: 789px;
  width: 38px;
}

.turian .partners {
  background-color: #fafafa;
  height: 414px;
  left: 335px;
  position: absolute;
  top: 155px;
  width: 1080px;
}

.turian .empresas-que-confiam-wrapper {
  height: 33px;
  left: 345px;
  position: absolute;
  top: 58px;
  width: 390px;
}

.turian .empresas-que-confiam {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 27px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.75px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.turian .group-11 {
  height: 156px;
  left: 113px;
  position: absolute;
  top: 160px;
  width: 854px;
}

.turian .rectangle-5 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 227px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.turian .overlap-wrapper {
  height: 979px;
  left: 323px;
  position: absolute;
  top: 723px;
  width: 1105px;
}

.turian .overlap-10 {
  background-image: url(../../../static/img/group-44.png);
  background-size: 100% 100%;
  height: 1009px;
  left: -15px;
  position: relative;
  width: 1133px;
}

.turian .group-12 {
  height: 696px;
  left: 600px;
  position: absolute;
  top: 297px;
  width: 533px;
}

.turian .a-magma-translation {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 17.2px;
  font-weight: 400;
  height: 120px;
  left: 39px;
  letter-spacing: 0;
  line-height: 39.8px;
  position: absolute;
  top: 105px;
  width: 1042px;
}

.turian .text-wrapper-35 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 17.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39.8px;
}

.turian .text-wrapper-36 {
  font-weight: 600;
}

.turian .overlap-11 {
  height: 1964px;
  left: -3px;
  position: absolute;
  top: 2830px;
  width: 1443px;
}

.turian .overlap-12 {
  height: 1964px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1443px;
}

.turian .overlap-group-wrapper {
  height: 876px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.turian .overlap-13 {
  height: 876px;
  position: relative;
}

.turian .div-max-wrapper {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  height: 876px;
  left: 0;
  padding: 52.5px 0px 15px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.turian .div-max {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1500px;
  padding: 0px 39px;
  position: relative;
  width: 1139.4px;
}

.turian .div-row-2 {
  align-self: stretch;
  height: 538.95px;
  position: relative;
  width: 100%;
}

.turian .div-box-pad-wrapper {
  height: 280px;
  left: 0;
  position: absolute;
  top: 138px;
  width: 354px;
}

.turian .div-box-pad {
  align-items: flex-start;
  background-color: #5857ff;
  border-radius: 18px;
  box-shadow: 0px 24px 48px -9px #0f172833;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  left: 18px;
  padding: 52.5px 41.25px 52.95px;
  position: relative;
  top: -82px;
  width: 318px;
}

.turian .heading-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32.25px;
  padding: 0px 0px 11.25px;
  position: relative;
  width: 100%;
}

.turian .heading-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 89.05px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-37 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 26.2px;
  font-weight: 800;
  height: 36.75px;
  letter-spacing: 1.05px;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
}

.turian .a-tradu-o-apenas-o-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32.25px;
  padding: 0px 24.55px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .a-tradu-o-apenas-o {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 13.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  margin-left: -0.35px;
  margin-right: -24.9px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .div-item-hp-perfect-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 354px;
  padding: 0px 18px 95.25px;
  position: absolute;
  top: 138px;
  width: 354px;
}

.turian .div-item-hp-perfect-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10.8px;
  padding: 31.5px 31.5px 37.95px;
  position: relative;
  width: 100%;
}

.turian .heading-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -14.25px;
  position: relative;
}

.turian .heading-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 116.04px 0px 0px;
  position: relative;
}

.turian .text-wrapper-38 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.8px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: normal;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: fit-content;
}

.turian .div-text-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 5.04px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-39 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.1px;
  margin-right: -5.14px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .image-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: center;
  left: 32px;
  max-width: 51.75px;
  padding: 0px 0.56px;
  position: absolute;
  top: -16px;
  width: 52px;
}

.turian .image-5 {
  height: 33.75px;
  position: relative;
  width: 50.62px;
}

.turian .span-wrapper {
  align-items: flex-start;
  background-color: #5857ff;
  display: flex;
  flex-direction: column;
  left: 206px;
  position: absolute;
  top: 169px;
  width: 93px;
}

.turian .span-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 3.06px;
  height: 30px;
  padding: 0px 8.91px 0px 5.25px;
  position: relative;
  width: 100%;
}

.turian .arrow-sm-red-svg {
  height: 9.75px;
  position: relative;
  width: 10.5px;
}

.turian .text-wrapper-40 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-item-hp-perfect-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 708px;
  padding: 0px 18px 75px;
  position: absolute;
  top: 138px;
  width: 354px;
}

.turian .div-item-hp-perfect-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10.8px;
  height: 186px;
  padding: 31.5px 31.51px 37.95px 31.5px;
  position: relative;
  width: 100%;
}

.turian .link-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.turian .heading-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 53.79px 0px 0px;
  position: relative;
}

.turian .text-wrapper-41 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.8px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 8.79px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-42 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.11px;
  margin-right: -8.89px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .span-hd-bdb-wrapper {
  align-items: flex-start;
  background-color: #5857ff;
  display: flex;
  flex-direction: column;
  left: 206px;
  position: absolute;
  top: 171px;
  width: 93px;
}

.turian .div-item-hp-perfect-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 18px 75px;
  position: absolute;
  top: 418px;
  width: 354px;
}

.turian .heading-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 79.3px 0px 0px;
  position: relative;
}

.turian .text-wrapper-43 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 10.3px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-44 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.1px;
  margin-right: -10.4px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .image-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: center;
  left: 31px;
  max-width: 51.75px;
  padding: 0px 0.56px;
  position: absolute;
  top: -16px;
  width: 52px;
}

.turian .div-item-hp-perfect-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 354px;
  padding: 0px 18px 75px;
  position: absolute;
  top: 418px;
  width: 354px;
}

.turian .link-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -21.5px;
  position: relative;
}

.turian .heading-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 157.29px 0px 0px;
  position: relative;
}

.turian .add-a-personal-touch-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 9.54px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .add-a-personal-touch {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .image-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: center;
  left: 32px;
  max-width: 52.5px;
  padding: 0px 0.57px 0px 0.57px;
  position: absolute;
  top: -16px;
  width: 52px;
}

.turian .image-8 {
  height: 33.75px;
  position: relative;
  width: 51.36px;
}

.turian .div-item-hp-perfect-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 708px;
  padding: 0px 18px 75px;
  position: absolute;
  top: 418px;
  width: 354px;
}

.turian .div-item-hp-perfect-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10.8px;
  height: 187.5px;
  padding: 31.5px 31.51px 37.95px 31.5px;
  position: relative;
  width: 100%;
}

.turian .heading-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 72.54px 0px 0px;
  position: relative;
}

.turian .text-wrapper-45 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.5px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 4.29px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-46 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.11px;
  margin-right: -4.39px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .span-hd-aa-wrapper {
  align-items: flex-start;
  background-color: #5857ff;
  display: flex;
  flex-direction: column;
  left: 206px;
  position: absolute;
  top: 172px;
  width: 93px;
}

.turian .mask-group-wrapper {
  height: 62px;
  left: 413px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 43px;
}

.turian .mask-group {
  height: 43px;
  left: 2099px;
  position: absolute;
  top: 4074px;
  width: 43px;
}

.turian .div-inner-width-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 825px;
  left: 153px;
  padding: 52.5px 52.2px 52.5px 52.2px;
  position: absolute;
  top: 1066px;
  width: 1139px;
}

.turian .div-inner-width-2 {
  height: 681px;
  margin-left: -0.07px;
  margin-right: -0.07px;
  max-width: 1035px;
  position: relative;
  width: 1035px;
}

.turian .somos-experts-em-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 22px;
  padding: 0px 347.55px 0px 347.7px;
  position: absolute;
  top: -35px;
  width: 990px;
}

.turian .somos-experts-em {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 25.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 37.1px;
  margin-left: -73.62px;
  margin-right: -73.62px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .text-wrapper-47 {
  font-weight: 300;
}

.turian .text-wrapper-48 {
  font-weight: 700;
}

.turian .div-text-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 274px;
  max-width: 487.5px;
  padding: 0px 15.3px 0px 15.45px;
  position: absolute;
  top: 13px;
}

.turian .heading-10 {
  flex: 0 0 auto;
  margin-left: -266.63px;
  margin-right: -266.62px;
  position: relative;
  width: 990px;
}

.turian .div-flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 480px;
  justify-content: space-around;
  left: 22px;
  padding: 0px 297px 0px 0px;
  position: absolute;
  top: 216px;
  width: 990px;
}

.turian .div-exp-ind-left {
  height: 480.15px;
  position: relative;
  width: 693px;
}

.turian .div-exp-ind-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 37.5px;
  position: absolute;
  top: 0;
  width: 333px;
}

.turian .div-exp-ind-item-2 {
  align-self: stretch;
  height: 122.55px;
  position: relative;
  width: 100%;
}

.turian .heading-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 175.13px 0px 0px;
  position: absolute;
  top: 0;
  width: 333px;
}

.turian .text-wrapper-49 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 277.5px;
  padding: 0px 33px 0px 0px;
  position: absolute;
  top: 34px;
  width: 278px;
}

.turian .text-wrapper-50 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -16.43px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .link-4 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 83px;
}

.turian .text-wrapper-51 {
  color: #5857ff;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.turian .image-9 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 72px;
  max-width: 11.25px;
  position: absolute;
  top: 5px;
}

.turian .image-10 {
  height: 7.5px;
  position: relative;
  width: 11.25px;
}

.turian .overlap-group-4 {
  height: 480px;
  left: 360px;
  position: absolute;
  top: 0;
  width: 333px;
}

.turian .div-exp-ind-item-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.25px;
  position: relative;
  width: 100%;
}

.turian .heading-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 147.38px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-52 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.2px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 277.5px;
  padding: 0px 42.75px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-53 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -26.18px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .link-5 {
  height: 16.2px;
  position: relative;
  width: 83.29px;
}

.turian .div-exp-ind-item-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 37.5px;
  position: absolute;
  top: 160px;
  width: 333px;
}

.turian .heading-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 151.88px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-54 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 277.5px;
  padding: 0px 45.75px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-55 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -29.18px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .div-exp-ind-item-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 37.5px;
  position: absolute;
  top: 320px;
  width: 333px;
}

.turian .heading-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 135.38px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-56 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.7px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 277.5px;
  padding: 0px 25.5px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-57 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -8.93px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .heading-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 139.88px 0px 0px;
  position: absolute;
  top: 0;
  width: 333px;
}

.turian .text-wrapper-58 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.5px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 277.5px;
  padding: 0px 20.25px 0px 0px;
  position: absolute;
  top: 34px;
  width: 278px;
}

.turian .text-wrapper-59 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 11.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -3.68px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .heading-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 156.38px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-60 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 18.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23.1px;
  margin-top: -0.75px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.turian .div-text-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 277.5px;
  padding: 0px 32.25px 0px 0px;
  position: relative;
  width: 100%;
}

.turian .text-wrapper-61 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.2px;
  margin-left: -0.07px;
  margin-right: -15.68px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.turian .div-exp-ind-right {
  align-items: flex-start;
  border: 3px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  left: 705px;
  position: absolute;
  top: -3px;
  width: 303px;
}

.turian .div-squre {
  background-color: #e6f1fe;
  border-radius: 14.25px;
  height: 172px;
  left: 192px;
  position: absolute;
  top: -68px;
  width: 172px;
}

.turian .div-hero {
  align-self: stretch;
  background-image: url(../../../static/img/side-image-ind-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 377.18px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.turian .image-11 {
  height: 377px;
  left: -209px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 566px;
}

.turian .div-squre-2 {
  height: 38px;
  left: 184px;
  position: absolute;
  top: 343px;
  width: 128px;
}

.turian .div-squre-3 {
  background-color: #c59318;
  border-radius: 5.25px;
  height: 52px;
  left: 682px;
  position: absolute;
  top: 343px;
  width: 52px;
}

.turian .div-industry-bottom {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.23px 0px;
  justify-content: center;
  left: 22px;
  padding: 0px 30.34px 0px 30.34px;
  position: absolute;
  top: 728px;
  width: 990px;
}

.turian .div-text-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 13.5px 0px 0px;
  position: relative;
  width: 140.25px;
}

.turian .link-gaming {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo {
  background-color: #00000033;
  height: 26px;
  left: 122px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .div-text-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.5px;
  position: relative;
}

.turian .text-wrapper-62 {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 12.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-2 {
  background-color: #00000033;
  height: 26px;
  left: 108px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .pseudo-3 {
  background-color: #00000033;
  height: 26px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .div-text-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.12px 0px 13.5px;
  position: relative;
}

.turian .link-app {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 12.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-4 {
  background-color: #00000033;
  height: 26px;
  left: 126px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .div-text-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 13.06px 0px 13.5px;
  position: relative;
}

.turian .text-wrapper-63 {
  color: #575dff;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.turian .pseudo-5 {
  background-color: #00000033;
  height: 26px;
  left: 159px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .pseudo-6 {
  background-color: #00000033;
  height: 26px;
  left: 82px;
  position: absolute;
  top: 0;
  width: 1px;
}

.turian .empresa-de-traduo-8 {
  background-image: url(../../../static/img/mask-group-3.png);
  background-size: 100% 100%;
  height: 62px;
  left: 1318px;
  opacity: 0.15;
  position: absolute;
  top: 837px;
  width: 62px;
}

.turian .rectangle-6 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 227px;
  left: 0;
  position: absolute;
  top: 876px;
  width: 1440px;
}

.turian .group-13 {
  height: 778px;
  left: 128px;
  position: absolute;
  top: 1186px;
  width: 1193px;
}

.turian .entendemos-que-cada {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 15.9px;
  font-weight: 400;
  height: 55px;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1191px;
}

.turian .text-wrapper-64 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 15.9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
}

.turian .empresa-de-traduo-9 {
  background-image: url(../../../static/img/mask-group-12.png);
  background-size: 100% 100%;
  height: 38px;
  left: 1123px;
  opacity: 0.15;
  position: absolute;
  top: 128px;
  width: 38px;
}

.turian .link-6 {
  align-items: flex-start;
  background-color: #5857ff;
  border: 0.75px solid;
  border-radius: 45px;
  display: inline-flex;
  justify-content: center;
  left: 508px;
  min-width: 120px;
  padding: 0.9px 14.1px 0px;
  position: absolute;
  top: 738px;
}

.turian .empresa-de-traduo-10 {
  background-image: url(../../../static/img/mask-group-1.png);
  background-size: 100% 100%;
  height: 38px;
  left: 73px;
  opacity: 0.15;
  position: absolute;
  top: 1183px;
  width: 38px;
}

.turian .overlap-14 {
  height: 227px;
  left: 0;
  position: absolute;
  top: 2603px;
  width: 1440px;
}

.turian .empresa-de-traduo-11 {
  background-image: url(../../../static/img/mask-group.png);
  background-size: 100% 100%;
  height: 38px;
  left: 1127px;
  opacity: 0.15;
  position: absolute;
  top: 44px;
  width: 38px;
}

.turian .empresa-de-traduo-12 {
  background-image: url(../../../static/img/mask-group-2.png);
  background-size: 100% 100%;
  height: 62px;
  left: 511px;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 62px;
}

.turian .rectangle-7 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 34.9%, rgba(230, 241, 254, 0) 100%);
  height: 209px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1440px;
}

.turian .dropdown-instance {
  left: 1038px !important;
  position: fixed !important;
  top: 64px !important;
  width: 99px !important;
}

.turian .design-component-instance-node {
  border-radius: 21.75px !important;
}

.turian .dropdown-2 {
  background-color: #c59318 !important;
  border: 0.75px solid !important;
  border-radius: 17.25px !important;
  gap: 7.5px !important;
  padding: 0px 7.5px !important;
}

.turian .dropdown-3 {
  padding: 3.75px 1.5px 5.25px !important;
}

.turian .dropdown-4 {
  color: #ffffff !important;
  font-family: "Inter", Helvetica !important;
  font-size: 10.5px !important;
  line-height: 15px !important;
  margin-top: -0.75px !important;
}

.turian .dropdown-5 {
  gap: 3px !important;
  padding: 4.5px 0px 4.5px 1.5px !important;
}

.turian .icon-end-1-medium-17 {
  height: 15px !important;
  position: relative !important;
  width: 15px !important;
}

.turian .dropdown-6 {
  background-color: unset !important;
  top: 23px !important;
  width: 99px !important;
}

.turian .dropdown-7 {
  left: 1155px !important;
  position: fixed !important;
  top: 64px !important;
  width: 99px !important;
}

.turian .dropdown-8 {
  background-color: unset !important;
  border: 1.5px solid !important;
  border-color: #c59318 !important;
  border-radius: 17.25px !important;
  gap: 7.5px !important;
  padding: 0px 7.5px !important;
}

.turian .dropdown-9 {
  color: #000000 !important;
  flex: 1 !important;
  font-family: "Inter", Helvetica !important;
  font-size: 10.5px !important;
  font-weight: 600 !important;
  line-height: 15px !important;
  margin-top: -0.75px !important;
  text-align: center !important;
  white-space: unset !important;
  width: unset !important;
}

.turian .group-14 {
  height: 18px;
  left: 549px;
  position: fixed;
  top: 67px;
  width: 369px;
}

.turian .frame-17 {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 0;
  position: absolute;
  top: 0;
}

.turian .text-wrapper-65 {
  color: var(--gray-900);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.turian .expand-more {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.turian .frame-18 {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 97px;
  position: absolute;
  top: 0;
}

.turian .frame-19 {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 200px;
  position: absolute;
  top: 0;
}

.turian .frame-20 {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 303px;
  position: absolute;
  top: 0;
}

.turian .logo-preto-branco-2 {
  height: 32px;
  left: 150px;
  object-fit: cover;
  position: fixed;
  top: 64px;
  width: 124px;
}
