.hero-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hero-section .overlap-group-wrapper {
  background-color: #ffffff;
  height: 864px;
  overflow: hidden;
  width: 1512px;
}

.hero-section .overlap-group {
  border: 41px solid;
  border-color: #000000;
  border-radius: 2px;
  height: 946px;
  left: -41px;
  position: relative;
  top: -41px;
  width: 1594px;
}

.hero-section .background {
  height: 864px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.hero-section .logo-preto-branco {
  height: 34px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 130px;
}

.hero-section .menu-instance {
  left: 455px !important;
  position: absolute !important;
  top: 75px !important;
}

.hero-section .hero-trad-tecnica-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 41px;
  left: 324px;
  position: absolute;
  top: 269px;
}

.hero-section .hero-trad-tecnica {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.hero-section .hero-text-tradu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33px;
  position: relative;
}

.hero-section .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 52.5px;
  font-weight: 700;
  letter-spacing: -1.57px;
  line-height: 61.8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 864.15px;
}

.hero-section .p {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30.3px;
  position: relative;
  text-align: center;
  width: 649px;
}

.hero-section .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 22px;
  left: 501px;
  position: absolute;
  top: 535px;
}

.hero-section .fale-com-um-especialista {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.hero-section .contato-rapido-instance {
  left: unset !important;
  top: unset !important;
}
