.quatro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.quatro .div-4 {
  background-color: #ffffff;
  height: 1300px;
  position: relative;
  width: 1440px;
}

.quatro .text-wrapper-3 {
  color: #254f5a;
  font-family: "SF Pro Display-Semibold", Helvetica;
  font-size: 397.3px;
  font-weight: 400;
  left: 161px;
  letter-spacing: -11.92px;
  line-height: 345.7px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}

.quatro .text-wrapper-4 {
  color: #000000;
  font-family: "SF Pro Display-Semibold", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 185px;
  letter-spacing: -1.44px;
  line-height: 41.8px;
  position: absolute;
  top: 197px;
  white-space: nowrap;
}

.quatro .keyboard-3 {
  height: 480px;
  left: 161px;
  object-fit: cover;
  position: absolute;
  top: 697px;
  width: 1118px;
}

.quatro .hand-2 {
  height: 111px;
  left: 640px;
  object-fit: cover;
  position: absolute;
  top: 1189px;
  width: 693px;
}

.quatro .scrollbar-4 {
  background-color: #00000040;
  border-radius: 32px;
  height: 72px;
  left: 1384px;
  position: absolute;
  top: 762px;
  width: 24px;
}
