.framedadois {

 width: 100%;


}

.divda {

  display: flex;
  flex-direction: row;
  gap: 400px;

}


.frase{


  width: 300%;
  height: 300px;
  top: 100px;
  position: relative;

}


.imagemm{


  width: 300%;
  height: 300px;
  top: 200px;
  position: relative;
}


