.containerframe {


width: 100%;
position:relative;

}


.videoplayer {

    top: 1px;
    position: fixed ;
    z-index: 2;
    
    }

.espaco {

    height: 5000px;
    width: 4px;
position:relative;
}


.menuMainFrame {
    position: fixed;
    width: 100%;


    top: 0px;
    z-index: 10;

}


.paraFooter {

    height: 500px;
    width: 4px;
position:relative;
}






    .variacao {

        height: 800px;


    }


    
    .variacaoDois {

        height: 800px;


    }