.hero-caysa {

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  position: relative;
  overflow: hidden;

}

.hero-caysa .div-3 {
  background-color: #E6F1FE;
 height: 864px;

  position: relative;
  width: 1536px;
  
}

.hero-caysa .div-wrapper {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 185.66px;
  height: 371px;
  left: -229px;
  position: absolute;
  top: 401px;
  width: 371px;
}

.hero-caysa .ellipse-2 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 115.54px;
  height: 231px;
  left: 76px;
  position: relative;
  top: 56px;
  width: 231px;
}

.hero-caysa .overlap-2 {
  height: 692px;
  left: 159px;
  position: absolute;
  top: 165px;
  width: 1173px;
}

.hero-caysa .turian-2 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 320.73px;
  height: 641px;
  left: 531px;
  position: absolute;
  top: 50px;
  width: 641px;
}

.hero-caysa .ellipse-3 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 199.59px;
  height: 399px;
  left: 133px;
  position: relative;
  top: 97px;
  width: 399px;
}

.hero-caysa .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 51px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 717px;
}

.hero-caysa .frase-entrada-e {
  height: 328.35px !important; 
  width: 717.15px !important;
}

.hero-caysa .div-rewards-icons {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 19.21px;
  padding: 0px 52.64px 3.78px 0px;
  position: relative;
  width: 471px;
}

.hero-caysa .img-2 {
  height: 103.16px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.hero-caysa .top-fastest {
  background-image: url(../../../static/img/top-30-fastest-sustained-growth-lsps-low-2-1-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 103.16px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.hero-caysa .frame-svg {
  height: 103.16px;
  margin-right: -51.94px;
  max-width: 393.91px;
  position: relative;
  width: 103.16px;
}

.hero-caysa .imagem-heho-component {
  left: 746px !important;
  position: absolute !important;
  top: 0 !important;
}

.hero-caysa .imagem-heho-instance {
  background-image: url(../../../static/img/mask-group.png) !important;
}

.hero-caysa .imagem-heho-component-instance {
  background-image: url(../../../static/img/mask-group-1.png) !important;
}

.hero-caysa .design-component-instance-node {
  background-image: url(../../../static/img/mask-group-2.png) !important;
}
