.hero-caysa {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hero-caysa .overlap-wrapper {
  background-color: #ffffff;
  height: 801px;
  overflow: hidden;
  width: 1518px;
}

.hero-caysa .overlap {
  height: 847px;
  left: -226px;
  position: relative;
  width: 1744px;
}

.hero-caysa .turian-2 {
  background-color: #e6f1fe;
  border: 1px solid;
  border-color: #000000;
  height: 763px;
  left: 226px;
  position: absolute;
  top: 0;
  width: 1518px;
}

.hero-caysa .ellipse-wrapper {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.49px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 367px;
}

.hero-caysa .ellipse {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.19px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.hero-caysa .turian-3 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 909px;
  position: absolute;
  top: 213px;
  width: 634px;
}

.hero-caysa .ellipse-2 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 197.26px;
  height: 395px;
  left: 131px;
  position: relative;
  top: 96px;
  width: 395px;
}

.hero-caysa .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50.4px;
  left: 384px;
  position: absolute;
  top: 199px;
  width: 709px;
}

.hero-caysa .frase-entrada-e {
  height: 324.5px !important;
  width: 708.75px !important;
}

.hero-caysa .premio-images-instance {
  flex: 0 0 auto !important;
  top: unset !important;
}

.hero-caysa .design-component-instance-node {
  background-image: url(../../../static/img/top-30-fastest-sustained-growth-lsps-low-2-1-png.png) !important;
}

.hero-caysa .imagem-heho-component {
  left: 1121px !important;
  position: absolute !important;
}

.hero-caysa .imagem-heho-instance {
  background-image: url(../../../static/img/mask-group-54.png) !important;
}

.hero-caysa .imagem-heho-component-instance {
  background-image: url(../../../static/img/mask-group-55.png) !important;
}

.hero-caysa .imagem-heho-2 {
  background-image: url(../../../static/img/mask-group-56.png) !important;
}
