.segunda-hero {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.segunda-hero .div {
  background-color: #ffffff;
  height: 864px;
  overflow: hidden;
  position: relative;
  width: 1536px;
}

.segunda-hero .turian {
  height: 864px;
  left: 67860px;
  position: absolute;
  top: 9556px;
  width: 1536px;
}

.segunda-hero .ellipse-wrapper {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.52px;
  height: 367px;
  left: -226px;
  position: absolute;
  top: 396px;
  width: 367px;
}

.segunda-hero .ellipse {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.21px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.segunda-hero .fale-com-um-especialista {
  left: 432px !important;
  position: absolute !important;
  top: -2526px !important;
}

.segunda-hero .group {
  height: 237px;
  left: 239px;
  position: absolute;
  top: 277px;
  width: 330px;
}

.segunda-hero .quer-destravar-seus {
  color: transparent;
  font-family: "Inter-Bold", Helvetica;
  font-size: 21.2px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.13px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 328px;
}

.segunda-hero .span {
  color: #000000;
}

.segunda-hero .text-wrapper-2 {
  color: #c8982a;
}

.segunda-hero .fale-com-um-instance {
  font-size: 15.9px !important;
  margin-top: -0.8px !important;
  white-space: nowrap !important;
}

.segunda-hero .fale-com-um-especialista-instance {
  border-radius: 79.68px !important;
  left: 0 !important;
  padding: 12.75px 25.5px !important;
  position: absolute !important;
  top: 193px !important;
}

.segunda-hero .img {
  height: 475px;
  left: 649px;
  position: absolute;
  top: 158px;
  width: 845px;
}
