.imagem-heho {
  height: 540px;


  top: 165px;
  width: 100%;
}

.imagem-heho .overlap-group-wrapper {
  height: 427px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 421%;
}

.imagem-heho .overlap-group {
  height: 462px;
  position: relative;
  top: -91px;
  width: 462%;
}

.imagem-heho .div-absolute {
  background-color: #faf4e3;
  border-radius: 79.68px;
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 335px;
}

.imagem-heho .frame-wrapper {
  border-radius: 79.68px;
  height: 313px;
  left: 149px;
  position: absolute;
  top: 149px;
  width: 313px;
}

.imagem-heho .servi-o-de-trad-o-wrapper {
  background-color: #c59318;
  border-radius: 79.68px;
  height: 314px;
  overflow: hidden;
  position: relative;
  width: 314px;
}

.imagem-heho .servi-o-de-trad-o {
  height: 310px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 311px;
}

.imagem-heho .ezgif {
  height: 205px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 173px;
}

.imagem-heho .empresa-de-tradu-o {
  background-size: 100% 100%;
  height: 63px;
  left: 256px;
  position: absolute;
  top: 45px;
  width: 63px;
}

.imagem-heho .empresa-de-tradu-o-2 {
  background-size: 100% 100%;
  height: 31px;
  left: 76px;
  position: absolute;
  top: 304px;
  width: 31px;
}

.imagem-heho .frame-3 {
  background-size: 100% 100%;
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 46px;
}
