.celular-ptgrande {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.celular-ptgrande .div {
  background-color: #ffffff;
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.celular-ptgrande .magma-translation {
  height: 39px;
  left: 110px;
  position: absolute;
  top: 20px;
  width: 140px;
}

.celular-ptgrande .overlap-group {
  height: 447px;
  left: -31px;
  position: absolute;
  top: 135px;
  width: 421px;
}

.celular-ptgrande .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.8px;
  line-height: 65.7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 366px;
}

.celular-ptgrande .element-idiomas-que {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 196px;
  left: 0;
  letter-spacing: 0.45px;
  line-height: 65.3px;
  position: absolute;
  text-align: center;
  top: 251px;
  width: 421px;
}

.celular-ptgrande .group {
  background-color: #0536a8;
  height: 152px;
  left: -6px;
  position: absolute;
  top: 648px;
  width: 366px;
}

.celular-ptgrande .clique-para {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 25px;
  left: 69px;
  letter-spacing: 1.34px;
  line-height: 36.9px;
  position: absolute;
  text-align: center;
  top: 62px;
  white-space: nowrap;
  width: 228px;
}
