.essecarao {
  background-color: #ffffff;
  height: 1133px;
  position: relative;
  width: 1425px;
}

.essecarao .overlap {
  height: 1032px;
  position: absolute;
  top: 101px;
}

.essecarao .img {
  height: 1032px;
  position: absolute;
  top: 0;
  width: 990px;
}

.essecarao .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 58px;
  height: 488px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 598px;
}

.essecarao .tradu-es-bem {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.29px;
  line-height: 60.4px;
  margin-top: -1px;
  position: relative;
  width: 597.6px;
}

.essecarao .span {
  color: #000000;
}

.essecarao .text-wrapper-2 {
  color: #c8982a;
}

.essecarao .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 29.93px;
  position: relative;
}

.essecarao .resolva-seu-problema-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10.01px;
  position: relative;
  width: 597.6px;
}

.essecarao .resolva-seu-problema {
  color: #041527;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 40.4px;
  margin-right: -14.03px;
  margin-top: -1px;
  position: relative;
  width: 611.62px;
}

.essecarao .text-wrapper-3 {
  color: #041527;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 40.4px;
}

.essecarao .text-wrapper-4 {
  font-weight: 700;
}

.essecarao .botao-instance {
  flex: 0 0 auto !important;
}

.essecarao .group {
  height: 430px;
  position: absolute;
  width: 485px;
}

.essecarao .overlap-group {
  height: 430px;
  left: 0;
  position: absolute;
  top: 0;
  width: 485px;
}

.essecarao .div {
  background-color: #c8982a;
  border-radius: 83.54px;
  height: 353px;
  left: 149px;
  position: absolute;
  top: 77px;
  width: 270px;
}

.essecarao .rectangle-2 {
  background-color: #c8982a61;
  border-radius: 83.54px;
  height: 348px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
}

.essecarao .ezgif {
  height: 233px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 91px;
}

.essecarao .empresa-de-tradu-o {
  height: 66px;
  left: 419px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 66px;
}

.essecarao .mask-group {
  height: 67px;
  left: 18345px;
  position: absolute;
  top: -5313px;
  width: 66px;
}

.essecarao .mask-group-wrapper {
  height: 39px;
  left: 92px;
  position: absolute;
  top: 386px;
  width: 39px;
}

.essecarao .mask-group-2 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.essecarao .servi-o-de-trad-o {
  height: 347px;
  left: 20244px;
  object-fit: cover;
  position: absolute;
  top: -5087px;
  width: 270px;
}

.essecarao .overlap-2 {
  height: 430px;
  position: relative;
}

.essecarao .servi-o-de-trad-o-2 {
  height: 347px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 270px;
}

.essecarao .ezgif-2 {
  height: 233px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 189px;
}

.essecarao .empresa-de-tradu-o-2 {
  background-size: 100% 100%;
  height: 66px;
  left: 419px;
  position: absolute;
  top: 24px;
  width: 66px;
}

.essecarao .empresa-de-tradu-o-3 {
  background-size: 100% 100%;
  height: 39px;
  left: 92px;
  position: absolute;
  top: 386px;
  width: 39px;
}

.essecarao .magma-translation {
  height: 42px;
  position: absolute;
  top: 0;
}

.essecarao .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 58px;
  height: 488px;
  left: -598px;
  position: absolute;
  top: 132px;
  width: 598px;
}

.essecarao .default {
  left: 435px;
  width: 1381px;
}

.essecarao .variant-2 {
  left: 0;
  width: 1425px;
}

.essecarao .property-1-1-default {
  left: 15px;
  width: 134px;
}

.essecarao .property-1-1-variant-2 {
  left: 17px;
  width: 132px;
}

.essecarao .overlap.default .img {
  left: 0;
}

.essecarao .overlap.variant-2 .img {
  left: 435px;
}

.essecarao .overlap.default .group {
  left: 896px;
  top: 18px;
}

.essecarao .overlap.variant-2 .group {
  left: 855px;
  top: 28px;
}
