.iphone-SE {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-SE .div {
  background-color: #ffffff;
  height: 568px;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.iphone-SE .magma-translation {
  height: 39px;
  left: 90px;
  position: absolute;
  top: 20px;
  width: 140px;
}

.iphone-SE .overlap-group {
  height: 299px;
  left: -51px;
  position: absolute;
  top: 90px;
  width: 421px;
}

.iphone-SE .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.6px;
  line-height: 58.4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 366px;
}

.iphone-SE .element-idiomas-que {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 106px;
  left: 0;
  letter-spacing: 0.45px;
  line-height: 35.3px;
  position: absolute;
  text-align: center;
  top: 193px;
  width: 421px;
}

.iphone-SE .group {
  background-color: #0536a8;
  height: 133px;
  left: 0;
  position: absolute;
  top: 435px;
  width: 320px;
}

.iphone-SE .clique-para {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 22px;
  left: 60px;
  letter-spacing: 1.34px;
  line-height: 36.9px;
  position: absolute;
  text-align: center;
  top: 54px;
  white-space: nowrap;
  width: 200px;
}
