.areas {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.areas .div-7 {
  background-color: #ffffff;
  height: 864px;
  overflow: hidden;
  position: relative;
  width: 1536px;
}

.areas .group-10 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 390.4px;
  height: 781px;
  left: -166px;
  position: absolute;
  top: 1118px;
  width: 781px;
}

.areas .ellipse-19 {
  border: 0.8px solid;
  border-color: #c593184c;
  border-radius: 242.95px;
  height: 486px;
  left: 162px;
  position: relative;
  top: 118px;
  width: 486px;
}

.areas .overlap-6 {
  height: 930px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1536px;
}

.areas .div-inner-width-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 880px;
  left: 188px;
  padding: 56px 55.68px 56px 55.68px;
  position: absolute;
  top: 50px;
  width: 1215px;
}

.areas .div-inner-width {
  height: 726.4px;
  margin-left: -0.08px;
  margin-right: -0.08px;
  max-width: 1104px;
  position: relative;
  width: 1104px;
}

.areas .somos-experts-em-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 370.72px 0px 370.88px;
  position: absolute;
  top: -38px;
  width: 1056px;
}

.areas .somos-experts-em {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 27.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39.5px;
  margin-left: -83.8px;
  margin-right: -83.8px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .text-wrapper-26 {
  font-weight: 300;
}

.areas .text-wrapper-27 {
  font-weight: 700;
}

.areas .div-text-7 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 292px;
  max-width: 520px;
  padding: 0px 16.32px 0px 16.48px;
  position: absolute;
  top: 14px;
}

.areas .heading-7 {
  flex: 0 0 auto;
  margin-left: -284.4px;
  margin-right: -284.4px;
  position: relative;
  width: 1056px;
}

.areas .div-flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 512px;
  justify-content: space-around;
  left: 24px;
  padding: 0px 316.8px 0px 0px;
  position: absolute;
  top: 230px;
  width: 1056px;
}

.areas .div-exp-ind-left {
  height: 512.16px;
  position: relative;
  width: 739.2px;
}

.areas .div-exp-ind-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 40px;
  position: absolute;
  top: 0;
  width: 355px;
}

.areas .div-exp-ind-item-2 {
  align-self: stretch;
  height: 130.72px;
  position: relative;
  width: 100%;
}

.areas .heading-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 186.81px 0px 0px;
  position: absolute;
  top: 0;
  width: 355px;
}

.areas .text-wrapper-28 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.3px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 296px;
  padding: 0px 35.2px 0px 0px;
  position: absolute;
  top: 36px;
  width: 296px;
}

.areas .text-wrapper-29 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -17.83px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .link-6 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 89px;
}

.areas .image-4 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 77px;
  max-width: 12px;
  position: relative;
  top: 5px;
}

.areas .image-5 {
  height: 8px;
  position: relative;
  width: 12px;
}

.areas .overlap-group-9 {
  height: 512px;
  left: 384px;
  position: absolute;
  top: 0;
  width: 355px;
}

.areas .div-exp-ind-item-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.areas .heading-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 157.21px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-30 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 296px;
  padding: 0px 45.6px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-31 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -28.23px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .link-7 {
  height: 17.28px;
  position: relative;
  width: 88.84px;
}

.areas .div-exp-ind-item-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 40px;
  position: absolute;
  top: 171px;
  width: 355px;
}

.areas .heading-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 162.01px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-32 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 296px;
  padding: 0px 48.8px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-33 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -31.43px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .div-exp-ind-item-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 40px;
  position: absolute;
  top: 341px;
  width: 355px;
}

.areas .heading-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 144.41px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-34 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 296px;
  padding: 0px 27.2px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-35 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -9.83px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .heading-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 149.21px 0px 0px;
  position: absolute;
  top: 0;
  width: 355px;
}

.areas .text-wrapper-36 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.8px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 296px;
  padding: 0px 21.6px 0px 0px;
  position: absolute;
  top: 36px;
  width: 296px;
}

.areas .text-wrapper-37 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -4.23px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .heading-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 166.81px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-38 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  margin-top: -0.8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.areas .div-text-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 296px;
  padding: 0px 34.4px 0px 0px;
  position: relative;
  width: 100%;
}

.areas .text-wrapper-39 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.6px;
  margin-left: -0.37px;
  margin-right: -17.03px;
  margin-top: -0.8px;
  position: relative;
  width: fit-content;
}

.areas .div-exp-ind-right {
  align-items: flex-start;
  border: 3.2px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  left: 71.21%;
  position: absolute;
  top: -3px;
  width: 30.61%;
}

.areas .div-squre {
  background-color: #e6f1fe;
  border-radius: 15.2px;
  height: 184px;
  position: absolute;
  right: -66px;
  top: -72px;
  width: 184px;
}

.areas .div-hero {
  align-self: stretch;
  background-image: url(../../../static/img/side-image-ind-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 402.33px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.areas .image-6 {
  height: 402px;
  left: -223px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 604px;
}

.areas .div-squre-2 {
  bottom: 2px;
  height: 40px;
  position: absolute;
  right: -10px;
  width: 136px;
}

.areas .div-squre-3 {
  background-color: #c59318;
  border-radius: 5.6px;
  bottom: 90px;
  height: 56px;
  left: 728px;
  position: absolute;
  width: 56px;
}

.areas .frame-36 {
  background-image: url(../../../static/img/mask-group-18.png);
  background-size: 100% 100%;
  height: 41px;
  left: 775px;
  opacity: 0.15;
  position: absolute;
  top: 230px;
  width: 41px;
}

.areas .turian-18 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1536px;
}

.areas .turian-19 {
  height: 178px;
  left: 133px;
  position: absolute;
  top: 177px;
  width: 1272px;
}

.areas .entendemos-que-cada {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 59px;
  left: 0;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1270px;
}

.areas .text-wrapper-40 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.8px;
}

.areas .empresa-de-traduo-10 {
  background-image: url(../../../static/img/mask-group-19.png);
  background-size: 100% 100%;
  height: 41px;
  left: 1198px;
  opacity: 0.15;
  position: absolute;
  top: 137px;
  width: 41px;
}
