.traducaotecnica {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.traducaotecnica .div-5 {
  background-color: #ffffff;
  height: 4899px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.traducaotecnica .overlap-12 {
  height: 589px;
  left: -3px;
  position: absolute;
  top: 2255px;
  width: 1512px;
}

.traducaotecnica .rectangle-15 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 239px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 1512px;
}

.traducaotecnica .partners-4 {
  background-color: #fafafa;
  height: 435px;
  left: 189px;
  position: absolute;
  top: 154px;
  width: 1134px;
}

.traducaotecnica .group-19 {
  height: 34px;
  left: 362px;
  position: absolute;
  top: 61px;
  width: 410px;
}

.traducaotecnica .empresas-que-confiam-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.79px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.traducaotecnica .group-20 {
  height: 164px;
  left: 119px;
  position: absolute;
  top: 168px;
  width: 896px;
}

.traducaotecnica .rectangle-16 {
  height: 142px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1509px;
}

.traducaotecnica .overlap-13 {
  height: 1019px;
  left: -226px;
  position: absolute;
  top: 0;
  width: 1738px;
}

.traducaotecnica .rectangle-17 {
  background-color: #e6f1fe;
  height: 914px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 1515px;
}

.traducaotecnica .group-21 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.49px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 367px;
}

.traducaotecnica .ellipse-14 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.19px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.traducaotecnica .group-22 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 909px;
  position: absolute;
  top: 213px;
  width: 634px;
}

.traducaotecnica .ellipse-15 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 197.26px;
  height: 395px;
  left: 131px;
  position: relative;
  top: 96px;
  width: 395px;
}

.traducaotecnica .frame-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50.4px;
  left: 384px;
  position: absolute;
  top: 265px;
  width: 709px;
}

.traducaotecnica .frame-42 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.9px;
  justify-content: center;
  position: relative;
  width: 708.75px;
}

.traducaotecnica .tradu-es-t-cnicas {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 45.7px;
  font-weight: 700;
  letter-spacing: 0.29px;
  line-height: 60.4px;
  margin-right: -0.25px;
  margin-top: -0.79px;
  position: relative;
  width: 709px;
}

.traducaotecnica .text-wrapper-68 {
  color: #000000;
}

.traducaotecnica .text-wrapper-69 {
  color: #c8982a;
}

.traducaotecnica .text-wrapper-70 {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30.3px;
  position: relative;
  width: 622px;
}

.traducaotecnica .dois-botes-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.traducaotecnica .fale-com-um-5 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.traducaotecnica .contato-rapido-3 {
  left: unset !important;
  top: unset !important;
}

.traducaotecnica .imagens-4 {
  height: 422px;
  left: 1121px;
  position: absolute;
  top: 341px;
  width: 416px;
}

.traducaotecnica .overlap-group-6 {
  height: 536px;
  left: 0;
  position: absolute;
  top: -205px;
  width: 442px;
}

.traducaotecnica .div-absolute-4 {
  background-color: #faf4e3;
  border-radius: 78.75px;
  height: 504px;
  left: 0;
  position: absolute;
  top: 0;
  width: 428px;
}

.traducaotecnica .frame-43 {
  background-color: #c59318;
  border-radius: 78.75px;
  height: 310px;
  left: 241px;
  position: absolute;
  top: 226px;
  width: 201px;
}

.traducaotecnica .empresa-de-traduo-27 {
  background-image: url(../../../static/img/mask-group-27.png);
  background-size: 100% 100%;
  height: 62px;
  left: -163px;
  position: absolute;
  top: 268px;
  width: 62px;
}

.traducaotecnica .empresa-de-traduo-28 {
  background-image: url(../../../static/img/mask-group-28.png);
  background-size: 100% 100%;
  height: 40px;
  left: 238px;
  opacity: 0.15;
  position: absolute;
  top: 1893px;
  width: 40px;
}

.traducaotecnica .empresa-de-traduo-29 {
  background-image: url(../../../static/img/mask-group-28.png);
  background-size: 100% 100%;
  height: 40px;
  left: -477px;
  opacity: 0.15;
  position: absolute;
  top: 1873px;
  width: 40px;
}

.traducaotecnica .empresa-de-traduo-30 {
  background-image: url(../../../static/img/mask-group-30.png);
  background-size: 100% 100%;
  height: 39px;
  left: -161px;
  opacity: 0.15;
  position: absolute;
  top: 2015px;
  width: 39px;
}

.traducaotecnica .empresa-de-traduo-31 {
  background-image: url(../../../static/img/mask-group-32.png);
  background-size: 100% 100%;
  height: 46px;
  left: 863px;
  position: absolute;
  top: 167px;
  width: 46px;
}

.traducaotecnica .servio-de-traducao {
  height: 293px;
  left: 1132px;
  position: absolute;
  top: 244px;
  width: 453px;
}

.traducaotecnica .text-wrapper-71 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 521px;
  letter-spacing: -0.8px;
  line-height: 48px;
  position: absolute;
  top: 970px;
  white-space: nowrap;
}

.traducaotecnica .rectangle-18 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 109px;
  left: 226px;
  position: absolute;
  top: 910px;
  width: 1512px;
}

.traducaotecnica .overlap-14 {
  height: 1093px;
  left: -163px;
  position: absolute;
  top: 1100px;
  width: 1675px;
}

.traducaotecnica .group-23 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 384.3px;
  height: 769px;
  left: 0;
  position: absolute;
  top: 0;
  width: 769px;
}

.traducaotecnica .ellipse-16 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 239.16px;
  height: 478px;
  left: 159px;
  position: relative;
  top: 116px;
  width: 478px;
}

.traducaotecnica .rectangle-19 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 142px;
  left: 163px;
  position: absolute;
  top: 299px;
  width: 1512px;
}

.traducaotecnica .frame-44 {
  align-items: flex-start;
  display: inline-flex;
  gap: 64px;
  left: 344px;
  position: absolute;
  top: 31px;
}

.traducaotecnica .group-24 {
  height: 222px;
  position: relative;
  width: 332px;
}

.traducaotecnica .frame-45 {
  align-items: center;
  background-color: #e6f1fe;
  display: inline-flex;
  flex-direction: column;
  gap: 27px;
  height: 222px;
  padding: 32px;
  position: relative;
}

.traducaotecnica .link-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.traducaotecnica .heading-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 83.26px 0px 0px;
  position: relative;
  width: 262px;
}

.traducaotecnica .text-wrapper-72 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .text-wrapper-73 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  position: relative;
  width: 268px;
}

.traducaotecnica .text-wrapper-74 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-right: -0.26px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .group-25 {
  height: 238.51px;
  position: relative;
  width: 332px;
}

.traducaotecnica .overlap-group-7 {
  height: 239px;
  position: relative;
}

.traducaotecnica .frame-46 {
  align-items: center;
  background-color: #e6f1fe;
  display: inline-flex;
  flex-direction: column;
  gap: 27px;
  height: 222px;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
}

.traducaotecnica .tradutores-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 83.26px 0px 0px;
  position: relative;
  width: 261px;
}

.traducaotecnica .tradutores {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24.3px;
  margin-right: -84.26px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .rectangle-20 {
  height: 34px;
  left: 199px;
  position: absolute;
  top: 205px;
  width: 98px;
}

.traducaotecnica .rectangle-21 {
  height: 32px;
  left: 932px;
  position: absolute;
  top: 236px;
  width: 98px;
}

.traducaotecnica .rectangle-22 {
  height: 32px;
  left: 541px;
  position: absolute;
  top: 236px;
  width: 98px;
}

.traducaotecnica .hero-header-wrapper {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  height: 652px;
  left: 163px;
  padding: 0px 0px 15.75px;
  position: absolute;
  top: 441px;
  width: 1512px;
}

.traducaotecnica .hero-header-2 {
  height: 620.98px;
  margin-top: -12.98px;
  position: relative;
  width: 1181px;
}

.traducaotecnica .fale-com-um-6 {
  left: 634px !important;
  position: absolute !important;
  top: 2891px !important;
}

.traducaotecnica .overlap-15 {
  height: 1531px;
  left: 0;
  position: absolute;
  top: 3070px;
  width: 1512px;
}

.traducaotecnica .empresa-de-traduo-32 {
  background-image: url(../../../static/img/mask-group-5.png);
  background-size: 100% 100%;
  height: 40px;
  left: 95px;
  opacity: 0.15;
  position: absolute;
  top: 445px;
  width: 40px;
}

.traducaotecnica .testimonial-2 {
  height: 524px;
  left: 189px;
  position: absolute;
  top: 0;
  width: 1133px;
}

.traducaotecnica .frame-47 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 7.09px;
  left: 213px;
  position: relative;
  top: 66px;
}

.traducaotecnica .text-wrapper-75 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 300;
  letter-spacing: -0.79px;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  width: 707.96px;
}

.traducaotecnica .text-wrapper-76 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 14.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.3px;
  position: relative;
  text-align: center;
  width: 707.96px;
}

.traducaotecnica .frame-48 {
  align-items: flex-start;
  display: inline-flex;
  gap: 15.75px;
  left: 134px;
  position: absolute;
  top: 222px;
}

.traducaotecnica .frame-49 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  height: 277.99px;
  justify-content: center;
  padding: 31.5px 57.49px 31.5px 31.5px;
  position: relative;
}

.traducaotecnica .frame-50 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15.75px;
  margin-top: -0.1px;
  position: relative;
}

.traducaotecnica .ellipse-17 {
  height: 66.94px;
  object-fit: cover;
  position: relative;
  width: 66.94px;
}

.traducaotecnica .frame-51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  position: relative;
}

.traducaotecnica .frame-52 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.87px;
  position: relative;
}

.traducaotecnica .text-wrapper-77 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  width: 154.35px;
}

.traducaotecnica .text-wrapper-78 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.traducaotecnica .text-wrapper-79 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  width: 315px;
}

.traducaotecnica .frame-53 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.87px;
  justify-content: center;
  margin-bottom: -0.1px;
  position: relative;
}

.traducaotecnica .star-4 {
  height: 13.69px;
  position: relative;
  width: 14.31px;
}

.traducaotecnica .frame-54 {
  align-items: flex-start;
  background-color: #5857ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  padding: 40px 57.49px 31.5px 31.5px;
  position: relative;
}

.traducaotecnica .frame-55 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15.75px;
  position: relative;
}

.traducaotecnica .text-wrapper-80 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.traducaotecnica .frame-56 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.87px;
  justify-content: center;
  position: relative;
}

.traducaotecnica .frame-57 {
  align-items: flex-start;
  background-color: #f8f9ff;
  border-radius: 23.62px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.96px;
  padding: 31.5px 57.49px 31.5px 31.5px;
  position: relative;
}

.traducaotecnica .frame-58 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15.75px;
  position: relative;
  width: 247.27px;
}

.traducaotecnica .ellipse-18 {
  height: 64.57px;
  object-fit: cover;
  position: relative;
  width: 64.58px;
}

.traducaotecnica .frame-59 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 14.96px;
  position: relative;
}

.traducaotecnica .frame-60 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7.87px;
  margin-right: -85.05px;
  position: relative;
  width: 252px;
}

.traducaotecnica .bruno-vidal-2 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.79px;
  position: relative;
}

.traducaotecnica .text-wrapper-81 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.traducaotecnica .text-wrapper-82 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  width: 315px;
}

.traducaotecnica .group-26 {
  height: 979px;
  left: 0;
  position: absolute;
  top: 498px;
  width: 1512px;
}

.traducaotecnica .overlap-16 {
  height: 979px;
  position: relative;
}

.traducaotecnica .rectangle-23 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 237px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.traducaotecnica .section-3 {
  align-items: center;
  background-color: #e6f1fe;
  display: flex;
  flex-direction: column;
  gap: 11.02px;
  height: 939px;
  left: 0;
  padding: 127.57px 54.81px 55.12px 54.81px;
  position: absolute;
  top: 40px;
  width: 1512px;
}

.traducaotecnica .div-inner-width-3 {
  height: 671.74px;
  max-width: 1086.75px;
  position: relative;
  width: 1086.75px;
}

.traducaotecnica .heading-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 436.6px 0px 436.74px;
  position: absolute;
  top: 0;
  width: 1040px;
}

.traducaotecnica .text-wrapper-83 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 27.5px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 38.9px;
  margin-left: -167.42px;
  margin-right: -167.42px;
  margin-top: -0.79px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .div-text-18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  padding: 0px 348.4px 0px 348.54px;
  position: absolute;
  top: 50px;
  width: 1040px;
}

.traducaotecnica .text-wrapper-84 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.3px;
  margin-left: -348.72px;
  margin-right: -348.72px;
  margin-top: -0.79px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.traducaotecnica .div-row-3 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 531px;
  justify-content: space-between;
  left: 9px;
  padding: 0px 0.01px 0px 0px;
  position: absolute;
  top: 163px;
  width: 1068px;
}

.traducaotecnica .div-item-serv-power-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 39.38px;
  position: relative;
  width: 355.94px;
}

.traducaotecnica .div-item-serv-power-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 17.32px;
  position: relative;
  width: 100%;
}

.traducaotecnica .div-item-hp-perfect-13 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12.13px;
  height: 241px;
  padding: 38.9px 33.07px 39.38px;
  position: relative;
  width: 100%;
}

.traducaotecnica .img-4 {
  height: 28.35px;
  position: relative;
  width: 26.78px;
}

.traducaotecnica .heading-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 4.72px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .text-wrapper-85 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .div-text-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 52.75px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .text-wrapper-86 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -53.18px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.traducaotecnica .image-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47px;
  justify-content: center;
  left: 0;
  max-width: 54.34px;
  overflow: hidden;
  padding: 5.91px 0px;
  position: absolute;
  top: -28px;
  width: 54px;
}

.traducaotecnica .image-12 {
  height: 35.44px;
  position: relative;
  width: 54.34px;
}

.traducaotecnica .div-item-serv-power-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 199px;
  padding: 0px 17.32px;
  position: relative;
  width: 100%;
}

.traducaotecnica .div-item-hp-perfect-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12.13px;
  margin-bottom: -38.88px;
  padding: 38.9px 33.07px 39.38px;
  position: relative;
  width: 100%;
}

.traducaotecnica .img-5 {
  height: 28.35px;
  position: relative;
  width: 28.35px;
}

.traducaotecnica .heading-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 28.34px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .text-wrapper-87 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -0.79px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.traducaotecnica .div-text-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 14.17px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .text-wrapper-88 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -14.6px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.traducaotecnica .div-item-serv-power-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 355.94px;
}

.traducaotecnica .div-item-serv-power-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 252px;
  padding: 0px 17.32px;
  position: relative;
  width: 100%;
}

.traducaotecnica .div-item-hp-perfect-15 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12.13px;
  height: 237px;
  padding: 38.9px 33.07px 39.38px;
  position: relative;
  width: 100%;
}

.traducaotecnica .alt-do-site-2 {
  height: 27.56px;
  position: relative;
  width: 28.35px;
}

.traducaotecnica .heading-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 16.53px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .div-text-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 44.88px 0px 0px;
  position: relative;
  width: 100%;
}

.traducaotecnica .text-wrapper-89 {
  color: #094254;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: -0.43px;
  margin-right: -45.31px;
  margin-top: -0.79px;
  position: relative;
  width: fit-content;
}

.traducaotecnica .image-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47px;
  justify-content: center;
  left: 0;
  max-width: 54.34px;
  overflow: hidden;
  padding: 5.51px 0px;
  position: absolute;
  top: -28px;
  width: 54px;
}

.traducaotecnica .image-14 {
  height: 36.22px;
  position: relative;
  width: 54.34px;
}

.traducaotecnica .div-item-serv-power-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -125.75px;
  padding: 0px 0px 39.38px;
  position: relative;
  width: 355.94px;
}

.traducaotecnica .filme-2 {
  height: 29.14px;
  position: relative;
  width: 28.35px;
}

.traducaotecnica .frame-61 {
  height: 100px;
  position: relative;
  width: 100px;
}

.traducaotecnica .div-item-serv-power-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -25.75px;
  padding: 0px 0px 39.38px;
  position: relative;
  width: 355.94px;
}

.traducaotecnica .group-27 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 633.94px;
  margin-bottom: -560.01px;
  position: relative;
  width: 633.94px;
}

.traducaotecnica .group-28 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 633.94px;
  margin-bottom: -1204.97px;
  position: relative;
  width: 633.94px;
}

.traducaotecnica .fale-com-um-7 {
  left: 628px !important;
  position: absolute !important;
  top: 1397px !important;
}

.traducaotecnica .empresa-de-traduo-33 {
  background-image: url(../../../static/img/mask-group-10.png);
  background-size: 100% 100%;
  height: 65px;
  left: 180px;
  opacity: 0.15;
  position: absolute;
  top: 1466px;
  width: 65px;
}

.traducaotecnica .overlap-17 {
  height: 129px;
  left: 269px;
  position: absolute;
  top: 4644px;
  width: 977px;
}

.traducaotecnica .group-29 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 977px;
}

.traducaotecnica .overlap-18 {
  height: 81px;
  position: relative;
  width: 973px;
}

.traducaotecnica .text-wrapper-90 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.traducaotecnica .text-wrapper-91 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 335px;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.traducaotecnica .logo-preto-branco-7 {
  height: 48px;
  left: 394px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 186px;
}

.traducaotecnica .empresa-de-traduo-34 {
  background-image: url(../../../static/img/mask-group-10.png);
  background-size: 100% 100%;
  height: 65px;
  left: 1128px;
  opacity: 0.15;
  position: absolute;
  top: 4555px;
  width: 65px;
}

.traducaotecnica .rectangle-24 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(230, 241, 254) 100%);
  height: 109px;
  left: 0;
  position: absolute;
  top: 2948px;
  width: 1512px;
}

.traducaotecnica .rectangle-25 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 34.9%, rgba(230, 241, 254, 0) 100%);
  height: 220px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1512px;
}

.traducaotecnica .logo-preto-branco-8 {
  height: 34px;
  left: 158px;
  object-fit: cover;
  position: fixed;
  top: 67px;
  width: 130px;
}
