 .cotationn {

    

    background-color: blue !important; /* Change the background color here */
    width: 280px !important; /* Change the width here */
    height: 50px !important; /* Adjust the height to your desired value */


    
  }