.containerteclado {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.containerteclado .div {
  background-color: #ffffff;
  height: 2207.73px;
  position: relative;
  width: 1518px;
}


.textobox {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:0 ;

      left:  200px;
      top: 300px;
    }
    
.textobox1 {
      color: #000000;
    }
  .textobox2 {
      color: #c8982a;
    }

    .textoH1parateclado {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:20 ;

      left:  300px;
      top: 300px;
    }


    .textoparateclado {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 609px;
      z-index:20 ;


      left:  600px;
      top: 400px;
    }


    .cabendo.tecladolargocomponente {


width: 800px;

    }





  

    .tecladolargocomponente {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 850px;
      z-index: 20;
      width: 800px;
    }



    .frasesdeentrada {

position: absolute;
top: 200px;
left: 160px;




    }


   .imagemsegunda {

      height: 701px;

      width: 1318px;
      left: 100px;


    }

