.containerteclado {
  background-color: #ffffff;

  width: 100%;
}

.containerteclado .divteclado {
  background-color: #ffffff;
  height: 2007.73px;
  position: relative;
  width: 1516px;
}


.textoH1paratecladodois {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 309px;
      z-index:20 ;

      left:  320px;
      top: 700px;
    }


    .paragrafoteclado {
      color: var(--base-black);
      font-family: "Inter", Helvetica;
      font-size: 25.7px;
      font-weight: 700;
      letter-spacing: 0.29px;
      line-height: 30.4px;
      margin-right: -0.25px;
      margin-top: -0.79px;
      position: fixed;
      width: 609px;
      z-index:20 ;


      left:  710px;
      top: 850px;
    }


    .cabendo.tecladolargocomponente {

width: 900px;
position: fixed;

    }


  

    .tecladolargocomponente {
      position: relative;
      left: 290px;
      top: 2100px;
      z-index: 0;
      width: 1000px;
    }



    .frasesdeentrada {

position: relative;
top: 200px;
left: 160px;




    }


   .imagemsegunda {

      height: 701px;

      width: 1318px;
      left: 100px;


    }

