.iphone-SE {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 767px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the component horizontally */
}


.iphone-SE .div {
 
  background-color: #c8992a;
  height: 767px;

  width: 100%;
}







.iphone-SE .magma-translation {
  height: 39px;
  left: 30%;
  position: absolute;
  top: 20px;
  width: 140px;
}

.iphone-SE .overlap-group {
  height: 299px;
  left: -51px;
  position: absolute;
  top: 90px;
  width: 421px;
}

.iphone-SE .frase-de-entrada {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 60px;
  letter-spacing: 1.6px;
  line-height: 58.4px;
  position: absolute;
  text-align: center;
  top: 100;

}





.iphone-SE .frases {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 19px;
  font-weight: 700;
  height: 100px;
  left: 86px;
  letter-spacing: 0.45px;
  line-height: 35.3px;
  position: absolute;
  text-align: center;
  top: 250px;

}



.iphone-SE .button:hover,
.iphone-SE .button:active {
  background-color: #C8982A;
}


.iphone-SE .clique-para {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  letter-spacing: 1.34px;
  white-space: nowrap;
}



.iphone-SE .rectangle {
  background-color: #c8982a;
 
  left: 0px;
  position: absolute;
  top: 0;
  width: 515px;
}


.iphone-SE .button {
  background-color: #0536a8;
  height: 150px;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  bottom: -10px;
  display: flex;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}



.iphone-SE .nome {
  background-color: #d9d9d9;
  border-radius: 13px;
  height: 46px;
  left: 10px;
  position: absolute;
  top: 220px;
  width: 358px;
  border: none;
  outline: none;
}


.iphone-SE .cargo {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 46px;
  left: 10px;
  position: absolute;
  top: 290px;
  width: 358px;
  border: none;
  outline: none;
}



.iphone-SE .e-mail {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 46px;
  left: 10px;
  position: absolute;
  top: 355px;
  width: 358px;
  border: none;
  outline: none;
}


.iphone-SE .mensagem {
  background-color: #d9d9d9;
  border-radius: 12px;
  height: 140px;
  left: 10px;
  position: absolute;
  top: 420px;
  width: 358px;
  border: none;
  outline: none;
}












