.case-ZF {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.case-ZF .div-3 {
  background-color: #ffffff;
  height: 2965px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.case-ZF .overlap-5 {
  height: 1970px;
  left: -226px;
  position: absolute;
  top: 0;
  width: 1744px;
}

.case-ZF .rectangle-14 {
  background: linear-gradient(180deg, rgb(230, 241, 254) 0%, rgba(255, 255, 255, 0) 100%);
  height: 239px;
  left: 232px;
  position: absolute;
  top: 1614px;
  width: 1512px;
}

.case-ZF .rectangle-15 {
  background-color: #e6f1fe;
  height: 914px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 1515px;
}

.case-ZF .group-16 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 384.3px;
  height: 769px;
  left: 63px;
  position: absolute;
  top: 1100px;
  width: 769px;
}

.case-ZF .ellipse-14 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 239.16px;
  height: 478px;
  left: 159px;
  position: relative;
  top: 116px;
  width: 478px;
}

.case-ZF .group-17 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 183.49px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 367px;
}

.case-ZF .ellipse-15 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 114.19px;
  height: 228px;
  left: 76px;
  position: relative;
  top: 55px;
  width: 228px;
}

.case-ZF .group-18 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 909px;
  position: absolute;
  top: 213px;
  width: 634px;
}

.case-ZF .ellipse-16 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 197.26px;
  height: 395px;
  left: 131px;
  position: relative;
  top: 96px;
  width: 395px;
}

.case-ZF .frame-49 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50.4px;
  left: 384px;
  position: absolute;
  top: 265px;
  width: 709px;
}

.case-ZF .frame-50 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.9px;
  justify-content: center;
  position: relative;
  width: 708.75px;
}

.case-ZF .o-caso-ZF-e-o-servi {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 40.3px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 48px;
  margin-right: -0.25px;
  margin-top: -0.79px;
  position: relative;
  width: 709px;
}

.case-ZF .text-wrapper-46 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40.3px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 48px;
}

.case-ZF .text-wrapper-47 {
  font-size: 25px;
}

.case-ZF .text-wrapper-48 {
  color: var(--base-black);
  font-family: "Inter", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33px;
  position: relative;
  width: 622px;
}

.case-ZF .dois-botes-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.case-ZF .fale-com-um-2 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.case-ZF .contato-rapido-2 {
  left: unset !important;
  top: unset !important;
}

.case-ZF .imagens-2 {
  height: 422px;
  left: 1121px;
  position: absolute;
  top: 341px;
  width: 416px;
}

.case-ZF .overlap-group-7 {
  height: 457px;
  left: 0;
  position: absolute;
  top: -90px;
  width: 457px;
}

.case-ZF .div-absolute-2 {
  background-color: #faf4e3;
  border-radius: 78.75px;
  height: 389px;
  left: 0;
  position: absolute;
  top: 0;
  width: 331px;
}

.case-ZF .frame-51 {
  border-radius: 78.75px;
  height: 309px;
  left: 147px;
  position: absolute;
  top: 147px;
  width: 309px;
}

.case-ZF .servio-de-traduo-wrapper {
  background-color: #c59318;
  border-radius: 78.75px;
  height: 310px;
  overflow: hidden;
  position: relative;
  width: 310px;
}

.case-ZF .servio-de-traduo {
  height: 194px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 194px;
}

.case-ZF .empresa-de-traduo-14 {
  background-image: url(../../../static/img/mask-group-6.png);
  background-size: 100% 100%;
  height: 62px;
  left: 253px;
  position: absolute;
  top: 45px;
  width: 62px;
}

.case-ZF .empresa-de-traduo-15 {
  background-image: url(../../../static/img/mask-group-10.png);
  background-size: 100% 100%;
  height: 31px;
  left: 75px;
  position: absolute;
  top: 301px;
  width: 31px;
}

.case-ZF .empresa-de-traduo-16 {
  background-image: url(../../../static/img/mask-group-7.png);
  background-size: 100% 100%;
  height: 40px;
  left: 376px;
  opacity: 0.15;
  position: absolute;
  top: 1184px;
  width: 40px;
}

.case-ZF .empresa-de-traduo-17 {
  background-image: url(../../../static/img/mask-group-8.png);
  background-size: 100% 100%;
  height: 40px;
  left: -233px;
  opacity: 0.15;
  position: absolute;
  top: 1130px;
  width: 40px;
}

.case-ZF .empresa-de-traduo-18 {
  background-image: url(../../../static/img/mask-group-4.png);
  background-size: 100% 100%;
  height: 39px;
  left: -561px;
  opacity: 0.15;
  position: absolute;
  top: 1317px;
  width: 39px;
}

.case-ZF .idiomas-2 {
  background-color: #ffffff;
  border-radius: 3.95px;
  height: 206px;
  left: 1160px;
  overflow: hidden;
  position: absolute;
  top: 303px;
  width: 174px;
}

.case-ZF .text-wrapper-49 {
  color: #000000;
  font-family: "Irish Grover", Helvetica;
  font-size: 15.2px;
  font-weight: 400;
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  line-height: 26.1px;
  position: absolute;
  top: 89px;
  width: 153px;
}

.case-ZF .text-wrapper-50 {
  color: #000000;
  font-family: "Irish Grover", Helvetica;
  font-size: 15.2px;
  font-weight: 400;
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  line-height: 26.1px;
  position: absolute;
  top: 48px;
  width: 153px;
}

.case-ZF .text-wrapper-51 {
  color: #000000;
  font-family: "Irish Grover", Helvetica;
  font-size: 15.2px;
  font-weight: 400;
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  line-height: 26.1px;
  position: absolute;
  top: 14px;
  width: 175px;
}

.case-ZF .empresa-de-traduo-19 {
  background-image: url(../../../static/img/mask-group-11.png);
  background-size: 100% 100%;
  height: 40px;
  left: 321px;
  opacity: 0.15;
  position: absolute;
  top: 1743px;
  width: 40px;
}

.case-ZF .empresa-de-traduo-20 {
  background-image: url(../../../static/img/mask-group-12.png);
  background-size: 100% 100%;
  height: 46px;
  left: 1121px;
  position: absolute;
  top: 228px;
  width: 46px;
}

.case-ZF .frame-52 {
  align-items: flex-start;
  background-color: #f7f8ff;
  border-radius: 28.95px;
  display: inline-flex;
  flex-direction: column;
  gap: 18.33px;
  left: 734px;
  padding: 38.6px 70.44px 38.6px 38.6px;
  position: absolute;
  top: 1629px;
}

.case-ZF .frame-53 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 19.3px;
  position: relative;
}

.case-ZF .ellipse-17 {
  height: 82.02px;
  object-fit: cover;
  position: relative;
  width: 82.02px;
}

.case-ZF .frame-54 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18.33px;
  position: relative;
}

.case-ZF .frame-55 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.65px;
  position: relative;
}

.case-ZF .text-wrapper-52 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.96px;
  position: relative;
  width: fit-content;
}

.case-ZF .ZF-friedrichshafen {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 19.3px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.case-ZF .text-wrapper-53 {
  color: #000000cc;
  font-family: "Inter", Helvetica;
  font-size: 15.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30.9px;
  position: relative;
  width: 385.96px;
}

.case-ZF .frame-56 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9.65px;
  justify-content: center;
  position: relative;
}

.case-ZF .star-3 {
  height: 16.77px;
  position: relative;
  width: 17.54px;
}

.case-ZF .feature-section-2 {
  height: 842px;
  left: 262px;
  position: absolute;
  top: 750px;
  width: 1440px;
}

.case-ZF .group-19 {
  border: 0.79px solid;
  border-color: #c593184c;
  border-radius: 316.97px;
  height: 634px;
  left: 665px;
  position: absolute;
  top: 810px;
  width: 634px;
}

.case-ZF .fale-com-um-3 {
  left: 634px !important;
  position: absolute !important;
  top: 2536px !important;
}

.case-ZF .partners-3 {
  background-color: #fafafa;
  height: 435px;
  left: 189px;
  position: absolute;
  top: 2007px;
  width: 1134px;
}

.case-ZF .group-20 {
  height: 34px;
  left: 316px;
  position: absolute;
  top: 61px;
  width: 503px;
}

.case-ZF .outras-empresas-que-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 28.3px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.79px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.case-ZF .group-21 {
  height: 164px;
  left: 119px;
  position: absolute;
  top: 168px;
  width: 896px;
}

.case-ZF .group-22 {
  height: 81px;
  left: 269px;
  position: absolute;
  top: 2806px;
  width: 977px;
}

.case-ZF .overlap-6 {
  height: 81px;
  position: relative;
  width: 973px;
}

.case-ZF .text-wrapper-54 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.case-ZF .text-wrapper-55 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 41px;
  left: 335px;
  letter-spacing: 0;
  line-height: 40.2px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.case-ZF .logo-preto-branco-5 {
  height: 48px;
  left: 663px;
  object-fit: cover;
  position: absolute;
  top: 2747px;
  width: 186px;
}

.case-ZF .rectangle-16 {
  background-color: #e6f1fe;
  height: 142px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1512px;
}

.case-ZF .logo-preto-branco-6 {
  height: 34px;
  left: 158px;
  object-fit: cover;
  position: fixed;
  top: 67px;
  width: 130px;
}

.case-ZF .menu-3 {
  left: 455px !important;
  position: fixed !important;
  top: 75px !important;
}
