
.testesNew {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.testesNew .div-2 {
  background-color: #ffffff;
  height: 3796px;
  position: relative;
  width: 1200px;
}


.testesNew .parabotao {

  height: 44px;
  left: 862px;
  position: absolute;
  top: 450px;
  width: 20px;
}



.testesNew .texto-45 {
  border: 2px solid #000;
  border-radius: 10px;
  width: 132px;
  height: 44px;
  top: 236px;
  position: relative;
  
}



.testesNew .formnow {
  position: absolute;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 800px;
  white-space: nowrap;
  
}